<div class="tabs__items">
    <button class="tabs__item" *ngFor="let tab of tabs" (click)="selectTab(tab)" [ngClass]="{'is-active': tab.isActive}">
        <span>{{ tab.title }}</span>
    </button>
</div>
<ng-content></ng-content>
