<ng-template #content let-modal>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="modal-body">
        <div class="row">
            <div class="img-modal">
                <img [src]="image" [alt]="alt" />
            </div><!-- /col -->
            <div class="col-md-8">
                <h2 class="text-uppercase font-35">{{ title }}</h2>
                <ng-content></ng-content>
            </div><!-- /col -->
        </div><!-- /row -->
    </div><!-- /modal-body -->
</ng-template>
