<div class="swiper-container swiper-what-credit">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="item-credit bg-white text-center" data-aos="fade-up">
                <figure class="item-credit__fig" aria-hidden="true">
                    <img src="assets/icons/calendar.png" alt="icono calendario">
                </figure>
                <h3 class="font-16 item-credit__title">¿En cuánto tiempo puedes pagarlo?</h3>
                <p class="font-14">¿En cuánto tiempo puedes pagarlo?</p>
            </div><!-- /item-credit -->
        </div><!-- /Swiper-slide -->
        <div class="swiper-slide">
            <div class="item-credit bg-white text-center" data-aos="fade-up">
                <figure class="item-credit__fig" aria-hidden="true">
                    <img src="assets/icons/simulator.png" alt="icono simulador">
                </figure>
                <h3 class="font-16 item-credit__title">¿Cuál es la tasa de endeudamiento?</h3>
                <p class="font-14">2.1% N.M.V. que equivale a 19.56% E.A*</p>
            </div><!-- /item-credit -->
        </div><!--/ Swiper-slide -->
        <div class="swiper-slide">
            <div class="item-credit bg-white text-center" data-aos="fade-up">
                <figure aria-hidden="true" class="item-credit__fig">
                    <img src="assets/icons/money.png" alt="icono dinero">
                </figure>
                <h3 class="font-16 item-credit__title">¿Cuál es el tope para tu cupo?</h3>
                <p class="font-14">Podrás acceder a hasta 25 S.M.M.L.V (salarios mínimos mensuales legales vigentes).</p>
            </div><!-- /item-credit -->
        </div><!--/ Swiper-slide -->
    </div><!-- /swiper-wrapper -->
    <div class="swiper-pagination"></div>
</div>
