@import 'src/assets/styles/config'; 

:host(.item-value__question) {

    // Responsive
    @include mq-max ( large ) {
        .question-button {
            &__icon, &__arrow {
                width: 35px;
            }
            &__arrow {
                transform: translate(40px, -60%);
            }
            a {
                font-size: $size-14;
                transform: translate(80px, -90%);
            }
        }
    }

}
:host(.item-value__question--odd) {
    @include mq-max ( medium ) {
        .question-button {
            display: flex;
            flex-direction: row-reverse;
            &__arrow {
                transform: translate(30px, -60%) rotateY(180deg);
            }
            a {
                transform: translate(-70px, -90%);
            }
        }
    }
}
.question-button {
    position: relative;
    &__arrow, a {
        position: absolute;
        top: 0;
        left: 0;
    }
    &__arrow {
        transform: translate(50px, -60%);
    }
    a {
        transform: translate(100px, -90%);
        &:hover {
            color: currentColor;
        }
    }
}