<div class="question-button">
    <img src="assets/icons/question-red.png" alt="icono pregunta" class="question-button__icon" />
    <img src="assets/icons/curve-arrow-up.png" alt="icono flecha" class="question-button__arrow"/>
    <a [href]="href" class="color-red u-underline"><ng-content></ng-content></a>
</div>