<section>
	<app-title-main>Simulador de crédito educativo sufi</app-title-main>
    <div class="sect-simulator sect-simulator-home--banner bg-light-gray">
        <div class="bgs-banner" aria-hidden="true">
            <div style="background-image: url(assets/images/fondo-bnn-home-simulador.png);" class="bgs-banner__lg"></div>
            <div style="background-image: url(assets/images/banner-simulador-home-tb.png);" class="bgs-banner__md"></div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 mt-5 content">
                    <app-strip-title-h2>
                    	¡COMIENZA A CONSTRUÍR TU FUTURO CON NUESTRO SIMULADOR!
                    </app-strip-title-h2>
                    <div class="card-info bg-white" data-aos="fade">
                    	<h2 class="font-35 u-uppercase sumulator-home__title">CON EL PODRÁS ESTIMAR</h2>
                        <ul class="list-circle">
		                    <li>Cuáles son las cuotas que tienes que pagar</li>
		                    <li>Qué plazos tienes para pagar tu crédito</li>
		                    <li>Qué es una tasa y cuál es la que debes pagar</li>
		                </ul><!-- /list-circle -->
                    </div><!-- /card-info -->
                    <div class="description_text">
                    	<figure>
                    		<img src="assets/icons/cronometro.png" alt="">
                    	</figure>
                    	<p>
                    		Tardarás menos de dos minutos.
                    	</p>
                    </div>
                    <a routerLink="/simulador" class="u-btn u-btn--red">
                    	Simulemos tu crédito
                    </a>
                </div><!-- /col -->
            </div><!-- /row -->
        </div><!-- container -->
        <div class="img-banner-mob" aria-hidden="true">
            <img src="/assets/images/banner-simulador-home-tb.png" alt="" />
        </div>
    </div>
</section>
