@import 'src/assets/styles/config'; 

.sect-simulator-home--banner {
	.content{
		margin-bottom: 4em;
	}
	.card-info {
	    padding: 0px 25px 30px 33px;
	    margin-top: 4em;
	    margin-bottom: 1em;
	    font-family: $montserrat-medium;
	    ul{
	    	padding-left: 10%;
	    }
	}
	.sumulator-home__title{
		position: relative;
		top: -0.6em;
	}

	.description_text{
		display: flex;
		figure{
			width: 70px;
		}
		p{
			font-family: $montserrat-medium;
			font-size: 18px;
			letter-spacing: 1.16px;
			line-height: 2.5;
		}
	}
}

// Responsive
@include mq-min( large ) {
    .bgs-banner{
		width: 100%;
    }
}