.accordion {
    &__tab {
        
    }
    &__cont {
        display: none;
        overflow: hidden;
        opacity: 0;
        max-height: 0;
        transition: all 1s linear; 
        &.is-active {
            display: block;
            opacity: 1;
            max-height: 1000px;
        }
    }
}