<div class="accordion__item">
    <button class="accordion__tab" (click)="toggle.emit()" [ngClass]="{'is-active': opened}"><span>{{ title }}</span></button>
    <div class="accordion__cont" [ngClass]="{'is-active': opened}">
        <ng-content></ng-content>
    </div>
</div>