<div class="accordion">
    <div class="accordion__item">
        <button class="accordion__title" data-tab="legales">Legales</button>
        <div class="accordion__desc" data-tab="legales">
            <ul class="list-links" dir="ltr">
                <li><a href="#">Consumidor financiero </a></li>
                <li><a href="#">Defensor Consumidor Financiero</a></li>
                <li><a href="#"> Centrales de Información</a></li>
                <li><a href="#"> Protección de Datos</a></li>
                <li><a href="#"> Política de Cobranza</a></li>
                <li><a href="#"> Reestructuración o modificación de créditos</a></li>
            </ul>
        </div>
    </div><!-- /accordion__item -->
    <div class="accordion__item">
        <button class="accordion__title" data-tab="enlaces-de-intereses">Enlaces de interés</button>
        <div class="accordion__desc" data-tab="enlaces-de-intereses">
            <ul class="list-links" dir="ltr">
                <li><a href="#">Sucursal virtual  Sufi</a></li>
                <li><a href="#">Canales de pago</a></li>
                <li><a href="#">Somos Sufi</a></li>
            </ul>
        </div>
    </div><!-- /accordion__item -->
    <div class="accordion__item">
        <button class="accordion__title" data-tab="siguenos">Síguenos en</button>
        <div class="accordion__desc" data-tab="siguenos">
            <ul class="list-networks" dir="ltr">
                <li class="facebook"><a href="https://www.facebook.com/bancolombia" title="Facebook" target="_blank">Facebook</a></li>
                <li class="twitter"><a href="https://twitter.com/Bancolombia" title="Twitter" target="_blank">Twitter</a></li>
                <li class="linkedin"><a href="https://www.linkedin.com/company/22690" title="Linkedin" target="_blank">Linkedin</a></li>
                <li class="instagram"><a href="https://instagram.com/bancolombia/" title="Instagram" target="_blank">Instagram</a></li>
                <li class="youtube"><a href="https://www.youtube.com/channel/UCsvQ-hst7CZGaMtHcDe5geQ" title="YouTube" target="_blank">YouTube</a></li>
              </ul>
        </div>
    </div><!-- /accordion__item -->
</div>