@import 'src/assets/styles/config';

.accordion {
    &__title {
        position: relative;
        width: 100%;
        text-align: left;
        padding: 12px 30px 12px 15px;
        border-bottom: 1px solid $dark;
        h5 {
            font-size: $size-18;
            font-weight: normal;
            margin-bottom: 0;
            color: $dark;
        }
        &:after {
            @include seudo_elm("+");
            top: 50%;
            right: 15px;
            color: $red;
            transform: translateY(-50%);
        }
        &.is-active {
            &:after {
                @include seudo_elm("-");
            }
        }
    }
    &__desc {
        display: none;
        padding-top: 20px;
        padding-bottom: 20px;
        &.is-active {
            display: block;
        }
    }
}