@import 'src/assets/styles/config'; 

.sect-simulator {
    &__cont {
        position: relative;
        padding-top: 40px;
        padding-bottom: 80px;
        z-index: 10;
        box-shadow: $shadow-one;
        svg {
            width: 30px;
        }
    }
    &--banner {
        position: relative;
        padding-top: 120px;
    }
}
.card-info {
    app-strip-title-h2 {
        margin-top: -25%;
        margin-bottom: 30px;
    }
}
.form-paragraph {
    &__cont {
        line-height: 45px;
        .form-group {
        display: inline-block;
        &--date {
            input[type="number"] {
                width: 60px;
                text-align: center;
            } 
        }
        }
        input, .select-custom, .form-group {
            width: auto;
            margin-left: 5px;
            margin-right: 5px;
            line-height: 1.3;
            border-radius: 0;
        }
        svg {
            margin-right: 5px;
        }
        input{
            padding: 5px;
        }
        input, select {
            border: none;
            border-bottom: 1px solid $default;
        }
        select:focus {
            outline: transparent;
        }
        .select-custom {
            select {
                padding-top: 0;
                padding-left: 0;
                padding-bottom: 5px;
            }
            &--triangle {
                &:after {
                    background-image: url(/assets/icons/arrow-down-red.png);
                    background-position: top center;
                }
            }
        }
    }
    .form-group--submit {
        .u-btn {
            padding-left: 50px;
            padding-right: 50px;
        }
    }
}

// Responsive
@include mq-min ( medium ) {
    .sect-simulator {
        &--banner {
            padding-bottom: 50px;
        }
    }
}