<section>
    <app-title-main>Simulador de crédito educativo sufi</app-title-main>
    <div class="sect-simulator sect-simulator--banner bg-light-gray">
        <div class="bgs-banner" aria-hidden="true">
            <div style="background-image: url(assets/images/banner-lets-call.jpg);" class="bgs-banner__lg"></div>
            <div style="background-image: url(assets/images/banner-lets-call-tb.jpg);" class="bgs-banner__md"></div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="card-info bg-white" data-aos="fade">
                        <app-strip-title-h2>Nos gusta acompañarte en cada paso que das para lograr tu objectivo
                        </app-strip-title-h2>
                        <p class="mg-btm-30"><strong>Completa esta infomación y nos comunicaremos contigo muy pronto </strong> y, en caso de que sea exitosa tu solicitud de credito, puedas
                            estudiar lo que tanto sueñas.</p>
                        <div class="card-info__actions">
                            <a href="#" class="color-red text-uppercase link-triangle" (click)="goToForm($event)">Vamos al formulario
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    width="16" height="18" viewBox="0 0 16 18">
                                    <defs>
                                        <path id="prefix__a" d="M0 0L17.677 0 17.677 15.409 0 15.409z" />
                                    </defs>
                                    <g fill="none" fill-rule="evenodd" transform="rotate(90 8 8)">
                                        <mask id="prefix__b" fill="#fff">
                                            <use xlink:href="#prefix__a" />
                                        </mask>
                                        <path fill="#FA0A3C"
                                            d="M6.008 8.796c.456-.818.88-1.654 1.268-2.506.442-.832.867-1.672 1.253-2.53 1.255 3.146 2.81 6.161 4.656 9.006-3.07-.057-6.141-.092-9.212-.103.342-.784.716-1.55 1.11-2.309.321-.51.63-1.03.925-1.558M.27 13.541c-.597.694-.136 1.6.721 1.687 4.757.483 9.597-.115 14.348-.434.196-.013.358-.073.494-.158l.023.044c.582 1.137 2.283.113 1.702-1.022-1.37-2.68-2.839-5.31-4.414-7.876-.788-1.282-1.602-2.55-2.44-3.8-.396-.59-.816-1.39-1.46-1.708-.445-.429-1.21-.352-1.546.214-.642.542-.868 1.587-1.129 2.316-.438 1.227-.957 2.422-1.538 3.587-.406.75-.82 1.496-1.226 2.246C2.772 10.37 1.59 12.009.27 13.54"
                                            mask="url(#prefix__b)" />
                                    </g>
                                </svg></a>
                        </div><!-- /card-info__actions -->
                    </div><!-- /card-info -->

               <!--      <div class="row">
                        <div class="col-lg-6">
                            <div class="font-14">Si quieres modificar el valor de la cuota, selecciona un nuevo
                                plazo de
                                pago</div>
                            <div class="select-custom">
                                <select name="" id="" class="form-control font-18">
                                    <option value="12">12 meses</option>
                                    <option value="18">18 meses</option>
                                    <option value="21">21 meses</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="input-value input-value--large">
                                <label class="text-uppercase u-regular font-18">El valor mensual de tu cuota
                                    sería:</label>
                                <input type="text" value="$000.000" class="u-light" />
                            </div>
                        </div>
                    </div>
 -->
                </div><!-- /col -->
            </div><!-- /row -->
        </div><!-- container -->
        <div class="img-banner-mob" aria-hidden="true">
            <img src="/assets/images/banner-lets-call-tb.jpg" alt="" />
        </div>
    </div>
    <div class="sect-simulator__cont">
        <div class="container container--sm">
            <form action="" class="form-paragraph">
                <div class="form-paragraph__cont mg-btm-40">
                    <div class="mg-btm-40">Me llamo <input type="text" id="name"
                            placeholder="Escribe tu nombre ">
                        <img src="/assets/icons/icon-smile.png" alt="" class="mr-2">
                        y vivo en <input type="text" id="name" placeholder="Escribe tu ciudad">
                        <img src="/assets/icons/icon-world.png" alt="" class="mr-2">
                        
                    </div>
                    <div>Me identifico con
                        <span class="select-custom select-custom--triangle">
                            <select>
                                <option value="" default>Tipo de documento</option>
                                <option value="">CC</option>
                                <option value="">Pasaporte extranjero</option>
                            </select>
                        </span>
                        número
                        <input type="text" id="number-id" [imask]="numberMask" placeholder="Ej: 0000 000 0000">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24"
                            height="25" viewBox="0 0 24 25">
                            <defs>
                                <path id="prefix__a" d="M0 0.014L23.79 0.014 23.79 18.6 0 18.6z" />
                                <path id="prefix__c" d="M0 23.79L23.79 23.79 23.79 0 0 0z" />
                            </defs>
                            <g fill="none" fill-rule="evenodd">
                                <g transform="translate(0 5.19)">
                                    <mask id="prefix__b" fill="#fff">
                                        <use xlink:href="#prefix__a" />
                                    </mask>
                                    <path fill="#D8E2E7"
                                        d="M23.79 17.856c0 .411-.333.744-.744.744H.743c-.41 0-.743-.333-.743-.744V.758C0 .347.333.014.743.014h22.303c.411 0 .744.333.744.744v17.098z"
                                        mask="url(#prefix__b)" />
                                </g>
                                <path fill="#E85A78"
                                    d="M22.675 21.931c0 .411-.333.744-.744.744H1.86c-.41 0-.743-.333-.743-.744V7.063c0-.411.332-.744.743-.744H21.93c.411 0 .744.333.744.744V21.93z" />
                                <path fill="#FEFEFE"
                                    d="M2.66 11.13L2.66 7.035 3.51 7.035 3.51 8.596 5.102 8.596 5.102 7.035 5.952 7.035 5.952 11.13 5.102 11.13 5.102 9.301 3.51 9.301 3.51 11.13zM9.803 7.759L7.636 7.759 7.636 8.629 9.625 8.629 9.625 9.341 7.636 9.341 7.636 10.393 9.902 10.393 9.902 11.13 6.8 11.13 6.8 7.035 9.803 7.035zM10.569 7.035L11.425 7.035 11.425 10.393 13.47 10.393 13.47 11.13 10.569 11.13zM14.045 7.035L14.9 7.035 14.9 10.393 16.945 10.393 16.945 11.13 14.045 11.13zM20.673 10.766c-.309.318-.756.478-1.342.478-.585 0-1.032-.16-1.341-.478-.415-.39-.623-.954-.623-1.69 0-.75.208-1.313.623-1.688.308-.32.756-.478 1.341-.478.586 0 1.033.159 1.342.478.414.375.62.939.62 1.689 0 .735-.206 1.298-.62 1.689m-.534-.623c.198-.25.298-.606.298-1.066 0-.46-.1-.815-.298-1.066-.2-.251-.47-.377-.808-.377-.338 0-.609.126-.81.376-.203.25-.304.605-.304 1.067 0 .46.101.816.303 1.066.202.25.473.375.811.375.339 0 .609-.125.808-.375" />
                                <path fill="#8A969D"
                                    d="M13.754 5.216c0 .404-.315.732-.704.732h-2.31c-.388 0-.703-.328-.703-.732V1.073c0-.403.315-.73.703-.73h2.31c.389 0 .704.327.704.73v4.143z" />
                                <path fill="#AFBDC6"
                                    d="M13.754 4.874c0 .403-.315.731-.704.731h-2.31c-.388 0-.703-.328-.703-.731V.73c0-.403.314-.73.703-.73h2.31c.388 0 .703.327.703.73v4.143h.001z" />
                                <path fill="#FEFEFE"
                                    d="M21.56 20.816c0 .41-.333.744-.744.744H2.974c-.41 0-.744-.333-.744-.744v-8.178c0-.41.333-.743.744-.743h17.842c.41 0 .743.333.743.743v8.178z" />
                                <path fill="#E85A78"
                                    d="M5.615 12.628h.53v1.764h-.343V13.2l.001-.144.001-.143-.334 1.48h-.359l-.331-1.48.001.143.001.144v1.193H4.44v-1.764h.536l.321 1.387.319-1.387zM6.51 14.642l.044.003c.033.002.065 0 .096-.004.03-.004.056-.013.076-.027.02-.014.039-.042.056-.086.017-.043.024-.07.022-.079l-.479-1.361h.38l.284.962.27-.962h.362l-.447 1.283c-.086.247-.155.4-.206.46-.05.059-.15.09-.302.09-.03 0-.054 0-.073-.002-.018 0-.046 0-.083-.004v-.273zM9.556 13.162c.085.07.128.188.128.352v.878h-.35V13.6c0-.07-.01-.121-.027-.158-.033-.067-.097-.1-.19-.1-.115 0-.194.048-.237.147-.022.051-.033.118-.033.198v.706h-.34V13.09h.33v.19c.043-.067.084-.115.123-.145.07-.052.159-.079.266-.079.135 0 .244.036.33.106M10.517 13.599c.064-.009.11-.019.137-.03.048-.021.073-.053.073-.097 0-.053-.019-.09-.057-.11-.037-.02-.092-.03-.165-.03-.082 0-.14.019-.174.058-.024.03-.04.07-.048.12h-.33c.008-.113.04-.208.096-.281.091-.115.247-.173.467-.173.143 0 .27.028.382.085.111.058.168.164.168.322v.598c0 .041 0 .092.002.15.002.045.009.075.02.092.01.015.028.028.05.04v.05h-.371c-.01-.026-.018-.05-.021-.075-.004-.023-.008-.049-.01-.078-.048.05-.102.094-.164.13-.074.042-.157.063-.25.063-.12 0-.217-.033-.294-.101-.078-.067-.117-.163-.117-.287 0-.16.062-.276.187-.348.068-.04.169-.067.302-.084l.117-.014zm.209.158c-.022.014-.043.025-.066.034-.023.008-.053.016-.092.024l-.078.013c-.072.013-.124.028-.156.047-.054.032-.081.08-.081.144 0 .059.016.102.05.126.032.027.072.04.119.04.074 0 .144-.022.206-.064.063-.044.095-.123.098-.237v-.127zM12.992 13.093c.056.021.107.06.152.117.037.045.061.101.074.167.009.044.012.108.012.193l-.002.822h-.35v-.83c0-.05-.008-.091-.024-.123-.03-.061-.086-.09-.167-.09-.094 0-.16.038-.196.116-.018.042-.027.092-.027.15v.777h-.343v-.777c0-.077-.009-.133-.024-.168-.029-.063-.086-.095-.169-.095-.098 0-.163.032-.197.095-.017.036-.027.09-.027.16v.785h-.346v-1.303h.332v.19c.042-.067.082-.116.12-.144.065-.05.151-.077.257-.077.1 0 .18.022.242.066.049.041.086.093.112.157.045-.076.1-.132.166-.17.071-.035.149-.053.235-.053.057.001.114.012.17.035M14.394 13.114c.09.04.166.105.225.193.054.077.09.168.104.27.01.059.014.145.011.258h-.95c.006.131.051.223.137.276.052.032.115.048.188.048.078 0 .141-.02.19-.059.026-.022.05-.052.07-.09h.348c-.009.077-.05.156-.127.236-.116.126-.28.19-.49.19-.173 0-.326-.054-.46-.16-.132-.108-.198-.281-.198-.523 0-.225.06-.399.18-.52.119-.12.275-.18.466-.18.112 0 .214.02.306.06m-.51.295c-.049.05-.079.117-.09.202h.586c-.006-.09-.036-.159-.09-.206-.055-.047-.122-.071-.202-.071-.088 0-.156.026-.204.075" />
                                <mask id="prefix__d" fill="#fff">
                                    <use xlink:href="#prefix__c" />
                                </mask>
                                <path fill="#E85A78"
                                    d="M15.592 12.932h.346v-.315h-.346v.315zm0 1.46h.346v-1.304h-.346v1.304zM16.533 13.976c.008.06.023.104.047.129.043.045.122.068.236.068.068 0 .12-.01.16-.03.04-.02.06-.05.06-.09 0-.039-.016-.068-.048-.087-.032-.02-.15-.055-.357-.104-.148-.036-.253-.081-.313-.138-.06-.054-.091-.132-.091-.234 0-.12.047-.223.142-.31.095-.087.228-.13.4-.13.163 0 .296.032.398.097.103.066.162.178.178.337h-.342c-.004-.043-.017-.078-.037-.104-.038-.046-.102-.07-.191-.07-.075 0-.127.012-.16.035-.03.024-.047.05-.047.082 0 .04.017.067.05.085.034.018.153.05.357.095.135.032.237.08.305.144.067.066.1.147.1.246 0 .129-.048.234-.144.316-.096.082-.245.123-.447.123-.205 0-.356-.043-.454-.13-.099-.087-.147-.197-.147-.331h.345zM17.626 14.392L17.989 14.392 17.989 14.034 17.626 14.034zM18.308 14.392L18.67 14.392 18.67 14.034 18.308 14.034zM18.988 14.392L19.351 14.392 19.351 14.034 18.988 14.034z"
                                    mask="url(#prefix__d)" />
                            </g>
                        </svg>.
                    </div>

                    <div>Busco un crédito educativo para*
                        <span class="select-custom select-custom--triangle">
                            <select>
                                <option value="" default>Quién usará el crédito</option>
                                <option value="">Yo</option>
                                <option value="">Un familiar</option>
                                <option value="">Un amigo</option>
                                <option value="">Un conocido</option>
                            </select>
                        </span>
                        para financiar estudios de
                        <span class="select-custom select-custom--triangle">
                            <select>
                                <option value="" default>Elige el tipo de programa</option>
                                <option value="">Pregrado</option>
                                <option value="">Posgrado</option>
                                <option value="">Cursos y diplomados</option>
                                <option value="">Estudios en el exterior</option>
                                <option value="">Técnicas y tecnologías</option>
                            </select>
                        </span>
                        <svg id="Capa_1" data-name="Capa 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 31.72 21.15">
                            <defs>
                            <style>.cls-1{fill:#fff;}.cls-1,.cls-2,.cls-4,.cls-5,.cls-6{fill-rule:evenodd;}.cls-2{fill:#595f65;}.cls-3{mask:url(#mask);}.cls-4{fill:#3e4246;}.cls-5{fill:#fccc34;}.cls-6{fill:#594640;}</style>
                            <mask id="mask" x="0" y="0" width="31.72" height="14.28" maskUnits="userSpaceOnUse">
                            <g transform="translate(0 -0.4)"><g id="prefix_b" data-name="prefix  b"><path id="prefix_a" data-name="prefix  a" class="cls-1" d="M0,.4H31.72V14.68H0Z"/></g></g></mask></defs><path class="cls-2" d="M5.88,10v3.6c0,7.42,20,7.42,20,0V10Z" transform="translate(0 -0.4)"/><g class="cls-3"><path class="cls-4" d="M31.72,7.54,15.86,14.68,0,7.54,15.86.4Z" transform="translate(0 -0.4)"/></g><path class="cls-5" d="M15.79,7.21,7.86,10.78a.35.35,0,0,0-.19.33v3.57c0,.43.52.43.52,0V11.35l7.74-3.49c.31-.14.18-.79-.14-.65" transform="translate(0 -0.4)"/><path class="cls-5" d="M7.93,13.38a1.17,1.17,0,0,1,1,1.3,1.17,1.17,0,0,1-1,1.29,1.17,1.17,0,0,1-1-1.29,1.17,1.17,0,0,1,1-1.3" transform="translate(0 -0.4)"/><path class="cls-5" d="M7.93,21.55c.55,0,1-.29,1-.65V14.68h-2V20.9c0,.36.44.65,1,.65" transform="translate(0 -0.4)"/><path class="cls-6" d="M8.6,14.79l-.1.07v6.57l.1-.06ZM8.19,15h-.1v6.55l.1,0Zm-.42,0h-.1v6.54l.1,0Zm-.41-.13-.1-.07v6.58l.1.06Z" transform="translate(0 -0.4)"/></svg>
                    </div>
                    <div>Me gustaría que Sufi se comunique conmigo para recibir asesoría el proceso de solicitud y
                        estudios
                        de crédito, pueden marcarme al número <input type="text" [imask]="{mask: '+{00} (000) 000 0000'}" placeholder="Ej: +57 000 000 0000">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15"
                            height="27" viewBox="0 0 15 27">
                            <defs>
                                <path id="prefix__a" d="M0 0.124L14.274 0.124 14.274 25.5 0 25.5z" />
                                <path id="prefix__c" d="M0 25.676L14.274 25.676 14.274 0.3 0 0.3z" />
                            </defs>
                            <g fill="none" fill-rule="evenodd">
                                <g transform="translate(0 .176)">
                                    <mask id="prefix__b" fill="#fff">
                                        <use xlink:href="#prefix__a" />
                                    </mask>
                                    <path fill="#5B6D6C"
                                        d="M14.274 1.761c0-.819-.846-1.637-1.692-1.637H1.692C.846.124 0 .942 0 1.761v22.102c0 .818.846 1.637 1.692 1.637h10.89c.846 0 1.692-.819 1.692-1.637V1.761z"
                                        mask="url(#prefix__b)" />
                                </g>
                                <path fill="#202427"
                                    d="M13.877 23.693c0 .794-.793 1.586-1.586 1.586H1.982c-.793 0-1.586-.792-1.586-1.586V2.283c0-.794.793-1.586 1.586-1.586h10.31c.792 0 1.585.792 1.585 1.585v21.411z" />
                                <path fill="#93979A"
                                    d="M11.697 1.687c.218 0 .396.178.396.397 0 .219-.178.397-.396.397-.22 0-.397-.178-.397-.397 0-.22.178-.397.397-.397M8.326 2.097c0 .11-.052.2-.118.2H6.066c-.065 0-.119-.09-.119-.2 0-.109.054-.198.12-.198h2.14c.067 0 .12.09.12.198" />
                                <mask id="prefix__d" fill="#fff">
                                    <use xlink:href="#prefix__c" />
                                </mask>
                                <path fill="#3E4246" d="M1.189 22.504L13.084 22.504 13.084 3.472 1.189 3.472z"
                                    mask="url(#prefix__d)" />
                                <path fill="#93979A"
                                    d="M8.624 24.189c0 .164-.133.297-.298.297H5.948c-.165 0-.298-.133-.298-.297v-.595c0-.164.133-.297.298-.297h2.378c.165 0 .298.133.298.297v.595z"
                                    mask="url(#prefix__d)" />
                                <path fill="#41ADE2"
                                    d="M3.965 6.115c0 .183-.148.33-.33.33H2.312c-.183 0-.33-.147-.33-.33v-1.32c0-.184.147-.332.33-.332h1.321c.183 0 .33.148.33.331v1.321z"
                                    mask="url(#prefix__d)" />
                                <path fill="#C4D558"
                                    d="M6.74 6.115c0 .183-.147.33-.33.33H5.088c-.182 0-.33-.147-.33-.33v-1.32c0-.184.148-.332.33-.332H6.41c.183 0 .33.148.33.331v1.321z"
                                    mask="url(#prefix__d)" />
                                <path fill="#F2B101"
                                    d="M9.516 6.115c0 .183-.148.33-.33.33H7.863c-.183 0-.33-.147-.33-.33v-1.32c0-.184.147-.332.33-.332h1.321c.183 0 .33.148.33.331v1.321z"
                                    mask="url(#prefix__d)" />
                                <path fill="#41ADE2"
                                    d="M12.291 6.115c0 .183-.148.33-.33.33h-1.322c-.182 0-.33-.147-.33-.33v-1.32c0-.184.148-.332.33-.332h1.322c.182 0 .33.148.33.331v1.321z"
                                    mask="url(#prefix__d)" />
                                <path fill="#C4D558"
                                    d="M3.965 21.38c0 .183-.148.331-.33.331H2.312c-.183 0-.33-.148-.33-.33v-1.322c0-.183.147-.33.33-.33h1.321c.183 0 .33.147.33.33v1.321z"
                                    mask="url(#prefix__d)" />
                                <path fill="#E74760"
                                    d="M6.74 21.38c0 .183-.147.331-.33.331H5.088c-.182 0-.33-.148-.33-.33v-1.322c0-.183.148-.33.33-.33H6.41c.183 0 .33.147.33.33v1.321z"
                                    mask="url(#prefix__d)" />
                                <path fill="#41ADE2"
                                    d="M9.516 21.38c0 .183-.148.331-.33.331H7.863c-.183 0-.33-.148-.33-.33v-1.322c0-.183.147-.33.33-.33h1.321c.183 0 .33.147.33.33v1.321z"
                                    mask="url(#prefix__d)" />
                                <path fill="#B190C1"
                                    d="M12.291 21.38c0 .183-.148.331-.33.331h-1.322c-.182 0-.33-.148-.33-.33v-1.322c0-.183.148-.33.33-.33h1.322c.182 0 .33.147.33.33v1.321z"
                                    mask="url(#prefix__d)" />
                                <path fill="#C4D558"
                                    d="M3.965 13.748c0 .182-.148.33-.33.33H2.312c-.183 0-.33-.148-.33-.33v-1.322c0-.183.147-.33.33-.33h1.321c.183 0 .33.147.33.33v1.322z"
                                    mask="url(#prefix__d)" />
                                <path fill="#B190C1"
                                    d="M6.74 13.748c0 .182-.147.33-.33.33H5.088c-.182 0-.33-.148-.33-.33v-1.322c0-.183.148-.33.33-.33H6.41c.183 0 .33.147.33.33v1.322z"
                                    mask="url(#prefix__d)" />
                                <path fill="#41ADE2"
                                    d="M9.516 13.748c0 .182-.148.33-.33.33H7.863c-.183 0-.33-.148-.33-.33v-1.322c0-.183.147-.33.33-.33h1.321c.183 0 .33.147.33.33v1.322z"
                                    mask="url(#prefix__d)" />
                                <path fill="#E74760"
                                    d="M3.965 11.204c0 .182-.148.33-.33.33H2.312c-.183 0-.33-.148-.33-.33V9.882c0-.182.147-.33.33-.33h1.321c.183 0 .33.148.33.33v1.322z"
                                    mask="url(#prefix__d)" />
                                <path fill="#F2B101"
                                    d="M6.74 11.204c0 .182-.147.33-.33.33H5.088c-.182 0-.33-.148-.33-.33V9.882c0-.182.148-.33.33-.33H6.41c.183 0 .33.148.33.33v1.322z"
                                    mask="url(#prefix__d)" />
                                <path fill="#C4D558"
                                    d="M9.516 11.204c0 .182-.148.33-.33.33H7.863c-.183 0-.33-.148-.33-.33V9.882c0-.182.147-.33.33-.33h1.321c.183 0 .33.148.33.33v1.322z"
                                    mask="url(#prefix__d)" />
                                <path fill="#F2B101"
                                    d="M12.291 11.204c0 .182-.148.33-.33.33h-1.322c-.182 0-.33-.148-.33-.33V9.882c0-.182.148-.33.33-.33h1.322c.182 0 .33.148.33.33v1.322z"
                                    mask="url(#prefix__d)" />
                                <path fill="#B190C1"
                                    d="M3.965 8.66c0 .182-.148.33-.33.33H2.312c-.183 0-.33-.148-.33-.33V7.337c0-.183.147-.33.33-.33h1.321c.183 0 .33.147.33.33v1.321z"
                                    mask="url(#prefix__d)" />
                                <path fill="#41ADE2"
                                    d="M6.74 8.66c0 .182-.147.33-.33.33H5.088c-.182 0-.33-.148-.33-.33V7.337c0-.183.148-.33.33-.33H6.41c.183 0 .33.147.33.33v1.321z"
                                    mask="url(#prefix__d)" />
                                <path fill="#E74760"
                                    d="M9.516 8.66c0 .182-.148.33-.33.33H7.863c-.183 0-.33-.148-.33-.33V7.337c0-.183.147-.33.33-.33h1.321c.183 0 .33.147.33.33v1.321z"
                                    mask="url(#prefix__d)" />
                                <path fill="#B190C1"
                                    d="M12.291 8.66c0 .182-.148.33-.33.33h-1.322c-.182 0-.33-.148-.33-.33V7.337c0-.183.148-.33.33-.33h1.322c.182 0 .33.147.33.33v1.321z"
                                    mask="url(#prefix__d)" />
                            </g>
                        </svg>
                    </div>
                    <div class="mg-btm-40">Si quieren escribirme, mi correo es 
                        <input type="email" placeholder="Ej: alguíen@dominio.co">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="26"
                            height="23" viewBox="0 0 26 23">
                            <defs>
                                <path id="prefix__a" d="M0.252 0.163L9.392 0.163 9.392 21.346 0.252 21.346z" />
                                <path id="prefix__c" d="M0.136 0.296L18.337 0.296 18.337 15.407 0.136 15.407z" />
                            </defs>
                            <g fill="none" fill-rule="evenodd">
                                <path fill="#AFBDC6"
                                    d="M4.787 19.968l6.108-8.238-4.16-7.53c-.228.374-.405.877-.47 1.414L4.666 18.586c-.066.534-.015 1.023.12 1.382" />
                                <g transform="translate(15.9 .604)">
                                    <mask id="prefix__b" fill="#fff">
                                        <use xlink:href="#prefix__a" />
                                    </mask>
                                    <path fill="#AFBDC6"
                                        d="M9.037.163L.252 10.899l6.183 10.447c.378-.422.663-1.05.753-1.777L9.364 1.906c.09-.732-.046-1.348-.327-1.743"
                                        mask="url(#prefix__b)" />
                                </g>
                                <path fill="#CAD4DC"
                                    d="M12.816 15.411l-1.921-3.681-6.108 8.238c.125.33.32.554.565.584l15.8 1.944c.422.053.84-.16 1.183-.545l-6.183-10.448-3.336 3.908z" />
                                <g transform="translate(6.6 .004)">
                                    <mask id="prefix__d" fill="#fff">
                                        <use xlink:href="#prefix__c" />
                                    </mask>
                                    <path fill="#DFE8EE"
                                        d="M17.284.317L.844 3.567c-.253.051-.503.29-.708.628l4.159 7.53 1.921 3.682L9.552 11.5 18.337.763c-.252-.353-.619-.53-1.053-.446"
                                        mask="url(#prefix__d)" />
                                </g>
                                <path fill="#7DCEF2"
                                    d="M3.558 16.537c.327.008.564.28.526.604l-.282 2.418c-.038.325-.334.554-.658.51L.62 19.72c-.324-.045-.552-.346-.506-.67l.28-1.992c.046-.324.351-.584.678-.576l2.486.054zM4.38 10.49c.325-.028.559.215.52.54l-.332 2.694c-.04.324-.34.59-.667.59H.511c-.328 0-.554-.265-.504-.588l.36-2.317c.05-.323.357-.61.683-.638l3.33-.281zM5.24 4.041c.32-.058.552.16.512.484l-.335 2.719c-.04.325-.339.62-.664.655l-4.2.459c-.325.035-.547-.2-.494-.523L.45 5.481c.054-.322.361-.634.683-.693l4.106-.747z" />
                            </g>
                        </svg>
                    </div>
                    <div>Actualmente cuento con ingresos mensuales aproximados de
                        <span class="select-custom select-custom--triangle">
                            <select>
                                <option value="" default>Elige tu rango de ingresos</option>
                                <option value="">No tengo ingresos mensuales</option>
                                <option value="">Hasta $1'000.000</option>
                                <option value="">Entre $1'000.001 y $2'000.000</option>
                                <option value="">Entre $2'000.001 y $3'000.000</option>
                                <option value="">Entre $3'000.001 y $4'000.000</option>
                                <option value="">Entre $4'000.001 y $5'000.000</option>
                                <option value="">$5'000.001 o más</option>
                            </select>
                        </span>
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="26"
                            height="20" viewBox="0 0 26 20">
                            <defs>
                                <path id="prefix__a" d="M0 18.9L25.376 18.9 25.376 0.264 0 0.264z" />
                            </defs>
                            <g fill="none" fill-rule="evenodd">
                                <path fill="#689534" d="M0 18.936L25.376 18.936 25.376 15.367 0 15.367z" />
                                <path fill="#84BC50" d="M0 15.367L25.376 15.367 25.376 0.3 0 0.3z" />
                                <path fill="#93979A" d="M9.516 18.936L15.86 18.936 15.86 15.367 9.516 15.367z" />
                                <path fill="#689534" d="M1.586 13.781L23.79 13.781 23.79 1.886 1.586 1.886z" />
                                <path fill="#84BC50" d="M2.775 12.592L22.6 12.592 22.6 3.076 2.775 3.076z" />
                                <g transform="translate(0 .036)">
                                    <path fill="#689534"
                                        d="M17.843 4.626c1.752 0 3.171 1.42 3.171 3.172 0 1.752-1.42 3.172-3.171 3.172-1.753 0-3.172-1.42-3.172-3.172 0-1.752 1.42-3.172 3.172-3.172" />
                                    <mask id="prefix__b" fill="#fff">
                                        <use xlink:href="#prefix__a" />
                                    </mask>
                                    <path fill="#CECFCE" d="M9.516 15.332L15.86 15.332 15.86 0.264 9.516 0.264z"
                                        mask="url(#prefix__b)" />
                                    <path fill="#FEFEFE"
                                        d="M6.344 7.402c-.437 0-.793-.356-.793-.794 0-.437.356-.793.793-.793.437 0 .793.356.793.793h.793c0-.737-.507-1.352-1.19-1.53v-.452h-.793v.453c-.682.177-1.189.792-1.189 1.529 0 .875.712 1.587 1.586 1.587.437 0 .793.355.793.792 0 .438-.356.794-.793.794-.437 0-.793-.356-.793-.794h-.793c0 .737.507 1.353 1.19 1.53v.453h.793v-.453c.682-.177 1.19-.793 1.19-1.53 0-.874-.712-1.585-1.587-1.585"
                                        mask="url(#prefix__b)" />
                                </g>
                            </g>
                        </svg>
                        y el plazo para el pago de la matrícula es hasta el
                        <div class="form-group form-group--date">
                            <input type="number" placeholder="Día" [imask]="dayMask">
                            <span class="select-custom select-custom--triangle">
                                <select>
                                    <option value="" default>Meses</option>
                                    <option value="Enero">Enero</option>
                                    <option value="Febrero">Febrero</option>
                                    <option value="Marzo">Marzo</option>
                                    <option value="Abril">Abril</option>
                                    <option value="Mayo">Mayo</option>
                                    <option value="Junio">Junio</option>
                                    <option value="Julio">Julio</option>
                                    <option value="Agsoto">Agsoto</option>
                                    <option value="Septiembre">Septiembre</option>
                                    <option value="Octubre">Octubre</option>
                                    <option value="Noviembre">Noviembre</option>
                                    <option value="Diciembre">Diciembre</option>
                                </select>
                            </span>
                            <input type="number" placeholder="Año" [imask]="yearMask">
                        </div>
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="23"
                            height="25" viewBox="0 0 23 25">
                            <defs>
                                <path id="prefix__a" d="M0.247 0.13L21.304 0.13 21.304 20.7 0.247 20.7z" />
                                <path id="prefix__c" d="M0.228 0.21L2.651 0.21 2.651 3.429 0.228 3.429z" />
                                <path id="prefix__e" d="M0.143 0.21L2.566 0.21 2.566 3.429 0.143 3.429z" />
                                <path id="prefix__g" d="M0.059 0.21L2.482 0.21 2.482 3.429 0.059 3.429z" />
                                <path id="prefix__i" d="M0.012 0.21L2.435 0.21 2.435 3.429 0.012 3.429z" />
                                <path id="prefix__k" d="M0.151 0.21L2.574 0.21 2.574 6.649 0.151 6.649z" />
                                <path id="prefix__m" d="M0.067 0.21L2.49 0.21 2.49 6.649 0.067 6.649z" />
                                <path id="prefix__o" d="M0.283 0.21L2.705 0.21 2.705 6.649 0.283 6.649z" />
                                <path id="prefix__q" d="M0.236 0.21L2.659 0.21 2.659 6.649 0.236 6.649z" />
                            </defs>
                            <g fill="none" fill-rule="evenodd">
                                <g transform="translate(.9 3.39)">
                                    <mask id="prefix__b" fill="#fff">
                                        <use xlink:href="#prefix__a" />
                                    </mask>
                                    <path fill="#91A1A9"
                                        d="M21.304 19.213c0 .82-.685 1.487-1.531 1.487H1.778c-.846 0-1.531-.666-1.531-1.487V1.617C.247.795.932.13 1.777.13h17.996c.846 0 1.53.665 1.53 1.487v17.596z"
                                        mask="url(#prefix__b)" />
                                </g>
                                <path fill="#E74C5C"
                                    d="M21.059 5.007c0-.821-.687-1.487-1.532-1.487H1.53c-.846 0-1.53.665-1.53 1.487v8.428h21.058V5.007z" />
                                <path fill="#D8E2E7"
                                    d="M0 13.435v9.168c0 .821.685 1.487 1.531 1.487h17.996c.845 0 1.532-.666 1.532-1.487v-9.168H0z" />
                                <path fill="#3E4246"
                                    d="M3.597 5.132c.635 0 1.149.499 1.149 1.115s-.514 1.116-1.149 1.116c-.634 0-1.148-.5-1.148-1.116 0-.616.514-1.115 1.148-1.115M8.236 5.132c.635 0 1.149.499 1.149 1.115S8.87 7.363 8.236 7.363c-.634 0-1.148-.5-1.148-1.116 0-.616.514-1.115 1.148-1.115M12.82 5.132c.635 0 1.15.499 1.15 1.115s-.515 1.116-1.15 1.116c-.634 0-1.148-.5-1.148-1.116 0-.616.514-1.115 1.149-1.115M17.405 5.132c.635 0 1.149.499 1.149 1.115s-.514 1.116-1.149 1.116c-.634 0-1.148-.5-1.148-1.116 0-.616.514-1.115 1.148-1.115" />
                                <g transform="translate(12.3 .09)">
                                    <mask id="prefix__d" fill="#fff">
                                        <use xlink:href="#prefix__c" />
                                    </mask>
                                    <path fill="#3E4246"
                                        d="M2.199 1.243C1.95.757 1.534.234.78.21c-.726-.022-.736.83-.034.88H.75c-.02.004.162.124.107.066.168.17.254.343.337.536.24.558.306 1.153.311 1.737h1.146c-.006-.732-.104-1.498-.452-2.186z"
                                        mask="url(#prefix__d)" />
                                </g>
                                <g transform="translate(7.8 .09)">
                                    <mask id="prefix__f" fill="#fff">
                                        <use xlink:href="#prefix__e" />
                                    </mask>
                                    <path fill="#3E4246"
                                        d="M2.115 1.243C1.868.757 1.45.234.697.21c-.728-.022-.736.83-.036.88h.005c-.02.004.162.124.106.066.168.17.255.343.338.536.24.558.306 1.153.31 1.737h1.146c-.005-.732-.104-1.498-.451-2.186z"
                                        mask="url(#prefix__f)" />
                                </g>
                                <g transform="translate(3.3 .09)">
                                    <mask id="prefix__h" fill="#fff">
                                        <use xlink:href="#prefix__g" />
                                    </mask>
                                    <path fill="#3E4246"
                                        d="M2.031 1.243C1.784.757 1.365.234.611.21c-.726-.022-.734.83-.034.88h.005c-.02.004.163.124.105.066.169.17.256.343.339.536.24.558.306 1.153.31 1.737h1.146c-.006-.732-.104-1.498-.451-2.186z"
                                        mask="url(#prefix__h)" />
                                </g>
                                <g transform="translate(17.1 .09)">
                                    <mask id="prefix__j" fill="#fff">
                                        <use xlink:href="#prefix__i" />
                                    </mask>
                                    <path fill="#3E4246"
                                        d="M1.984 1.243C1.737.757 1.318.234.565.21c-.726-.022-.735.83-.034.88h.003c-.02.004.163.124.107.066.168.17.255.343.338.536.239.558.306 1.153.31 1.737h1.146c-.005-.732-.103-1.498-.451-2.186z"
                                        mask="url(#prefix__j)" />
                                </g>
                                <g transform="translate(10.8 .09)">
                                    <mask id="prefix__l" fill="#fff">
                                        <use xlink:href="#prefix__k" />
                                    </mask>
                                    <path fill="#93979A"
                                        d="M2.02 5.767c-.131-.004.131.025.002-.003.133.029.032.009-.01-.01.143.066-.134-.12-.067-.051-.167-.17-.254-.343-.337-.537-.239-.558-.306-1.152-.31-1.737-.004-.586.082-1.174.31-1.737.076-.185.162-.333.306-.5.02-.024.05-.052.144-.116-.1.068 0 .009.027-.003-.076.024-.084.028-.026.014-.09.007-.102.008-.038.005.736-.022.739-.904 0-.882C1.259.234.863.758.603 1.243.24 1.921.156 2.704.15 3.429c-.005.73.105 1.502.452 2.187.247.486.665 1.01 1.418 1.033.739.023.736-.86 0-.882"
                                        mask="url(#prefix__l)" />
                                </g>
                                <g transform="translate(6.3 .09)">
                                    <mask id="prefix__n" fill="#fff">
                                        <use xlink:href="#prefix__m" />
                                    </mask>
                                    <path fill="#93979A"
                                        d="M1.937 5.767c-.133-.004.13.025 0-.003.134.029.032.009-.008-.01.14.066-.136-.12-.068-.051-.168-.17-.255-.343-.337-.537-.24-.558-.308-1.152-.31-1.737-.004-.586.08-1.174.31-1.737.075-.185.16-.333.305-.5.02-.024.05-.052.145-.116-.102.068-.002.009.027-.003-.076.024-.085.028-.026.014-.089.007-.103.008-.038.005.737-.022.739-.904 0-.882C1.174.234.777.758.519 1.243.156 1.921.072 2.704.067 3.429c-.005.73.105 1.502.452 2.187.246.486.664 1.01 1.418 1.033.739.023.737-.86 0-.882"
                                        mask="url(#prefix__n)" />
                                </g>
                                <g transform="translate(1.5 .09)">
                                    <mask id="prefix__p" fill="#fff">
                                        <use xlink:href="#prefix__o" />
                                    </mask>
                                    <path fill="#93979A"
                                        d="M2.152 5.767c-.133-.004.13.025.001-.003.134.029.032.009-.008-.01.142.066-.136-.12-.068-.051-.168-.17-.254-.343-.338-.537-.24-.558-.306-1.152-.31-1.737-.005-.586.082-1.174.31-1.737.076-.185.162-.333.307-.5.019-.024.05-.052.143-.116-.1.068 0 .009.028-.003-.076.024-.084.028-.025.014-.09.007-.104.008-.04.005.736-.022.74-.904 0-.882C1.39.234.994.758.735 1.243.373 1.921.288 2.704.283 3.429c-.005.73.106 1.502.452 2.187.247.486.665 1.01 1.417 1.033.74.023.736-.86 0-.882"
                                        mask="url(#prefix__p)" />
                                </g>
                                <g transform="translate(15.3 .09)">
                                    <mask id="prefix__r" fill="#fff">
                                        <use xlink:href="#prefix__q" />
                                    </mask>
                                    <path fill="#93979A"
                                        d="M2.105 5.767c-.132-.004.13.025.001-.003.134.029.032.009-.008-.01.14.066-.137-.12-.068-.051-.168-.17-.255-.343-.337-.537-.24-.558-.307-1.152-.312-1.737-.003-.586.083-1.174.312-1.737.075-.185.16-.333.305-.5.02-.024.05-.052.144-.116-.1.068 0 .009.028-.003-.076.024-.085.028-.026.014-.09.007-.103.008-.039.005.737-.022.739-.904 0-.882C1.343.234.946.758.688 1.243.326 1.921.24 2.704.236 3.429c-.006.73.105 1.502.452 2.187.246.486.665 1.01 1.417 1.033.74.023.737-.86 0-.882"
                                        mask="url(#prefix__r)" />
                                </g>
                                <path fill="#CECFCE"
                                    d="M11.697 3.52c.005-.615.084-1.231.324-1.82.107-.263.35-.812.8-.826.221-.007.222-.272 0-.265-.554.018-.847.463-1.03.806-.35.655-.434 1.405-.438 2.105-.001.17.343.17.344 0M7.112 3.52c.004-.615.085-1.231.325-1.82.107-.263.348-.812.8-.826.221-.007.222-.272 0-.265-.554.018-.847.463-1.032.806-.35.655-.433 1.405-.437 2.105 0 .17.342.17.344 0M2.528 3.52c.004-.615.085-1.231.325-1.82.107-.263.348-.812.8-.826.22-.007.221-.272 0-.265-.554.018-.848.463-1.032.806-.35.655-.432 1.405-.437 2.105 0 .17.343.17.344 0M16.28 3.52c.005-.615.086-1.231.326-1.82.107-.263.349-.812.8-.826.22-.007.221-.272 0-.265-.553.018-.847.463-1.03.806-.351.655-.434 1.405-.438 2.105-.003.17.341.17.343 0" />
                                <path fill="#FEFEFE"
                                    d="M5.996 10.781v.094c.008.314.04.535.1.663.06.128.188.192.383.192.194 0 .322-.07.385-.21.037-.083.055-.222.055-.42V8.256h.876v2.831c0 .346-.06.62-.181.822-.204.342-.571.513-1.103.513s-.888-.139-1.07-.415c-.18-.277-.272-.655-.272-1.132v-.094h.827zM8.72 8.257h.89v2.497c0 .28.034.484.102.612.106.228.336.342.691.342.352 0 .582-.114.688-.342.068-.128.102-.332.102-.612V8.257h.89v2.5c0 .431-.07.768-.208 1.009-.257.441-.748.662-1.473.662-.724 0-1.216-.22-1.474-.662-.139-.241-.208-.578-.208-1.01V8.257zM12.923 8.257L13.797 8.257 13.797 11.592 15.888 11.592 15.888 12.324 12.923 12.324z" />
                                <path fill="#323333"
                                    d="M4.786 17.15v-1.095c.497-.022.844-.056 1.043-.101.316-.072.574-.214.772-.429.136-.146.239-.342.308-.586.042-.146.061-.256.061-.328h1.317v8.178H6.673v-5.64H4.786zM16.271 15.976c-.235.238-.565.66-.985 1.266-.422.608-.775 1.234-1.058 1.88-.226.509-.43 1.13-.61 1.862-.18.733-.272 1.335-.272 1.805H11.71c.049-1.466.52-2.991 1.417-4.574.58-.981 1.065-1.666 1.456-2.053h-3.995l.022-1.443h5.662v1.257z" />
                            </g>
                        </svg>.
                    </div>
                </div>
                <p class="mg-btm-20 color-light-gray">* Esta información nos aclara si tú serás quien usará el crédito
                    para estudiar o si quieres
                    solicitarlo, por ejemplo, para tu hijo o un familiar.</p>
                <div class="form-group form-group--checkbox mg-btm-50">
                    <div class="input-checkbox" aria-label="checkbox">
                        <input type="checkbox" for="ptd" required />
                        <span aria-hidden="true"></span>
                    </div>
                    <label for="ptd">Autorizo que información pueda ser consultada, compartida y reportada para fines
                        del proceso.</label>
                </div>
                <div class="text-center">
                    <div class="form-group form-group--submit">
                        <a routerLink="/dejanos-llamarte-enviado" class="u-btn u-btn--red font-18">¡Quiero que me llamen!</a>
                    </div>
                </div>
            </form>
        </div><!-- /container -->
    </div>
</section>
<app-sect-wait></app-sect-wait>