@import 'src/assets/styles/config';

.strip-info {
    padding-top: 30px;
    padding-bottom: 30px;
    &__cont {
        position: relative;
    }
}
app-strip-title {
    display: inline-block;
    margin-bottom: 18px;
}

// Responsive
@include mq-min ( medium ) { 
    .strip-info {
        &__cont {
            padding-left: 150px;
        }
        &__fig {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }
    }
}
@include mq-min ( large ) {
    .strip-info {
        padding-top: 40px;
    }
}