<div class="strip-info">
    <div class="container container--lg">
        <div class="strip-info__cont">
            <figure class="strip-info__fig">
                <img src="assets/icons/featured-idea.png" alt="Icono idea">
            </figure>
            <div class="strip-info__text">
                <app-strip-title>{{ title }}</app-strip-title>
                <ng-content></ng-content>
            </div>
        </div>
    </div><!-- /container -->
</div>
