@import 'src/assets/styles/config'; 

.sect-simulator-two {
    padding-bottom: 150px;
    background-image: url(/assets/images/bg-body.jpg);
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 100%;
}
.steps-simulator {
    position: relative;
}
// .steps-bar {
//     position: absolute;
//     width: 1px;
//     height: 50%;
//     top: 40%;
//     left: 15px;
//     background-color: $red;
//     z-index: 10;
//     transform: translateY(-50%);
// }
.step-simulator {
    position: relative;
    padding: 30px 15px 20px;
    border-bottom: 1px solid rgba($default, .15);
    &.step-banner {
        padding: 20px 0 50px;
        &:before {
            content: none;
        }
    }
    &:nth-last-of-type(2) {
        margin-bottom: 150px;
        border-bottom: none;
    }
    .select-custom {
        margin-right: 15px;
    }

    .form-group--radios {
        padding-bottom: 5px;
        border-bottom: 1px solid rgba($default, .5);
    }
}
.step-banner {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .card-info {
        margin-top: 60px;
    }
}
.question-content {
    position: relative;
    display: inline-block;
    min-width: 40%;
    app-question-button {
        margin-top: -5px;
        margin-left: 20px;
    }
    .tooltip-info {
        background-color: $light;
        padding: 30px 40px 50px;
        z-index: 10;
    }
}
.btns-options {
    @include flex_wrap();
    justify-content: space-between;
    margin-top: 30px;
}
.btn-option {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    width: calc(20% - 10px);
    min-height: 160px;
    background-color: $medium_gray;
    border-radius: $radius-one;
    box-shadow: $shadow-two;
    transition: .3s ease-in;
    &.is-active, &:hover {
        background-color: $red;
        color: white;
    }
}

// Responsive
@include mq-max ( large ) {
    .btn-option { 
        width: calc(50% - 8px);
        padding: 15px;
        min-height: 60px;
        margin-bottom: 16px;
        font-size: $size-16;
    }
}
@include mq-max( medium ) { 
    .step-simulator {
        &:nth-last-of-type(2) {
            margin-bottom: 30px;
        }
    }
    .question-content {
        margin-top: 20px;
        .tooltip-info { 
            margin-top: -15px;
        }
    }
}
@include mq-min( medium ) {
    .step-banner { 
        padding-top: 60px;
    }
    .question-content {
        top: -15px;
        min-width: 20%;
        vertical-align: middle;
        margin-left: 15px;
        .tooltip-info { 
            position: absolute;
            top: 30px;
            left: 40%;
            width: 480px;
        }
    }
}
@include mq-min( large ) {
    .step-simulator {
        padding: 30px 80px 20px;
        &:before, &:after {
            @include seudo_elm();
            background-color: $red;
            opacity: 0;
            @include animation_forwards(fadeIn, .5s);
        } 
        &:before {
            width: 1px;
            height: 100%;
            left: 55px;
            background-color: $red;
        }
        &:after {
            width: 10px;
            height: 10px;
            top: 30px;
            left: calc(55px - 5px);
            border-radius: 50%;
            opacity: 0;
        }
        &.step-banner {
            padding-left: 0;
            padding-right: 0;
            &:before, &:after {
                content: none;
            }
            .card-info {
                &:before, &:after {
                    @include seudo_elm();
                    background-color: $red;
                }
                &:before {
                    width: 1px;
                    height: 100%;
                    top: 50%;
                    left: 40px;
                    position: absolute;
                }
                &:after {
                    width: 10px;
                    height: 10px;
                    top: 50%;
                    left: calc(40px - 5px);
                    border-radius: 50%;
                }
            }
        }
        &:nth-last-of-type(2) {
            &:before {
                content: none;
            }
        }
    }
    .step-banner {
        .card-info {
            padding-left: 80px;
            padding-right: 80px;
        }
    }
}