@import 'src/assets/styles/config';

.footer-option {
    position: relative;
    padding: 20px 40px;
    text-align: center;
    &__fig {
        margin-bottom: 10px;
    }
    &__title {
        margin-bottom: 0;
    }
}
.col-option {
    position: relative;
    &:before, &:after {
        @include seudo_elm();
        background-color: white;
    }
    &:after {
        width: 100%;
        height: 1px;
        right: 0;
        bottom: 0;
    }
}
.sect-legal {
    position: relative;
    padding: 40px 35px;
    p {
        color: $dark;
    }
}
.links-title {
    margin-bottom: 20px;
}
.footer-legal {
    padding-top:40px
}
.superintendencia {
    position: absolute;
    top: 30px;
    left: 0;
}

// =============== Responsive ===============
@include mq-max(medium) {
    .footer-option {
        padding: 35px 30px 20px 100px;
        text-align: left;
        &__fig {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }
    }
    .list-networks {
        display: none;
    }
    .footer-legal {
        text-align: center;
    }
}
@include mq-max(small) { 
    .superintendencia {
        left: 15px;
    }
}
@include mq-min(medium) {
    .col-option {
        &:before, &:after {
            top: 0;
            width: 1px;
            height: 100%;
        }
        &:before {
            left: 0;
        }
        &:first-of-type:after, &:last-of-type:before {
            content: normal;
        }
    }
    .sect-legal {
        padding-top: 30px;
        padding-bottom: 50px;
    }
    .footer-legal {
        padding-left: 40px;
        padding-right: 40px;
    }
}
