<footer class="footer" (window:resize)="onResize($event)">
    <div class="footer-options bg-medium-gray">
        <div class="container">
            <div class="row align-items-stretch">
                <div class="col-md-4 col-option">
                    <div class="footer-option">
                        <figure class="footer-option__fig">
                            <img src="https://sufi.grupobancolombia.com/wcm/connect/sufi.grupobancolombia.com-27309/e464d89a-98cc-49a4-8261-cccda0f0e53c/lineas-sufi.png?MOD=AJPERES" alt="">
                        </figure>
                        <h4 class="footer-option__title color-red font-16">Conoce nuestras líneas Audio Sufi</h4>
                        <p class="font-14">Déjanos ayudarte a encontrar lo que buscas</p>
                    </div>
                </div><!-- /col -->
                <div class="col-md-4 col-option">
                    <div class="footer-option">
                        <figure class="footer-option__fig">
                            <img src="https://sufi.grupobancolombia.com/wcm/connect/sufi.grupobancolombia.com-27309/f26d534f-dff8-4843-8032-f79b0fadc327/chatea-sufi.png?MOD=AJPERES" alt="">
                        </figure>
                        <h4 class="footer-option__title color-red font-16">Chatea con nosotros</h4>
                        <p class="font-14">Encuentra nuestro próximo  lugar de encuentro</p>
                    </div>
                </div><!-- /col -->
                <!-- <div class="col-md-4 col-option">
                    <div class="footer-option">
                        <figure class="footer-option__fig">
                            <img src="" alt="">
                        </figure>
                        <h4 class="footer-option__title color-red font-16">Conoce nuestras líneas Audio Sufi</h4>
                        <p class="font-14">Déjanos ayudarte a encontrar lo que buscas</p>
                    </div>
                </div> --><!-- /col -->
            </div><!-- /row -->
        </div><!-- /container -->
    </div>
    <div class="container sect-legal">
        <div class="row" *ngIf="desktop">
            <div class="col-md-4">
                <h5 class="u-regular font-14 links-title">Legales</h5>
                <ul class="list-links" dir="ltr">
                    <li><a href="https://sufi.grupobancolombia.com/sufi/consumidor-financiero">Consumidor financiero </a></li>
                    <li><a href="https://sufi.grupobancolombia.com/sufi/defensor-consumidor-financiero/">Defensor Consumidor Financiero</a></li>
                    <li><a href="https://sufi.grupobancolombia.com/sufi/centrales-de-informacion"> Centrales de Información</a></li>
                    <li><a href="https://sufi.grupobancolombia.com/sufi/proteccion-de-datos"> Protección de Datos</a></li>
                    <li><a href="https://sufi.grupobancolombia.com/wcm/connect/sufi.grupobancolombia.com-27309/4a0e3b64-c507-43d0-8e6c-4fe9698f93b4/Gesti%C3%B3n+de+cobranza.pdf?MOD=AJPERES&CVID=mEcH3if"> Política de Cobranza</a></li>
                    <li><a href="https://sufi.grupobancolombia.com/wcm/connect/sufi.grupobancolombia.com-27309/4a0e3b64-c507-43d0-8e6c-4fe9698f93b4/Gesti%C3%B3n+de+cobranza.pdf?MOD=AJPERES&CVID=mEcH3if"> Reestructuración o modificación de créditos</a></li>
                    <li><a href="https://sufi.grupobancolombia.com/wcm/connect/sufi.grupobancolombia.com-27309/b766758c-60c4-41de-ab9c-34c62178fc29/202006+TC+Alternativa+PERIODO+DE+GRACIA+%2B+DISMINUCI%C3%93N+DE+CUOTA+MENSUAL.pdf?MOD=AJPERES&CVID=ncbUPDh"> T&C Periodo de gracia y disminución cuota mensual</a></li>
                    <li><a href="https://sufi.grupobancolombia.com/wcm/connect/sufi.grupobancolombia.com-27309/6e43b0ec-42de-4b9b-951c-0fb05348e427/202006+TC+Alternativa+DISMINUCI%C3%93N+DEL+VALOR+DE+TU+CUOTA+MENSUAL.pdf?MOD=AJPERES&CVID=ncbUJpj"> T&C Disminución del valor de la cuota mensual</a></li>
                </ul>
            </div><!-- /col -->
            <div class="col-md-4">
                <h5 class="u-regular font-14 links-title">Enlaces de interés</h5>
                <ul class="list-links" dir="ltr">
                    <li><a href="https://www39.todo1.com/sufi/login/login.htm">Sucursal virtual  Sufi</a></li>
                    <li><a href="https://sufi.grupobancolombia.com/sufi/canales-de-pago/">Canales de pago</a></li>
                    <li><a href="https://sufi.grupobancolombia.com/sufi/somos-sufi/conocenos/">Somos Sufi</a></li>
                    <li><a href="https://sufi.grupobancolombia.com/wcm/connect/sufi.grupobancolombia.com-27309/7fea09e6-10b1-4f6d-ac8d-ee6b966ffd89/Terminos+y+Condiciones+Resarcimiento+enero+2020.pdf?MOD=AJPERES&CVID=m-LDuHG">Resarcimiento clientes 2020</a></li>
                </ul>
            </div><!-- /col -->
            <div class="col-md-4">
                <h5 class="u-regular font-14 links-title">Enlaces de interés</h5>
                <ul class="list-networks" dir="ltr">
                    <li class="facebook"><a href="https://www.facebook.com/sufitepresta/" title="Facebook" target="_blank">Facebook</a></li>
                    <!-- <li class="twitter"><a href="https://twitter.com/Bancolombia" title="Twitter" target="_blank">Twitter</a></li>
                    <li class="linkedin"><a href="https://www.linkedin.com/company/22690" title="Linkedin" target="_blank">Linkedin</a></li> -->
                    <li class="instagram"><a href="https://www.instagram.com/consufi/" title="Instagram" target="_blank">Instagram</a></li>
                    <li class="youtube"><a href="https://www.youtube.com/channel/UCnRq1_5uQEfHKFn5zmZHoQQ" title="YouTube" target="_blank">YouTube</a></li>
                  </ul>
            </div>
        </div><!-- /row -->

        <div class="row">
            <app-tabs-mobile style="width: 100%;" *ngIf="!desktop"></app-tabs-mobile>
            <div class="col-12 footer-legal font-14">
                <p>La información utilizada para ver este informe proviene de fuentes confiables. No obstante Bancolombia no se hace responsable por las decisiones que tomen los lectores con base en los conceptos y las opiniones contenidas. Las obligaciones asumidas por las entidades financieras con ocasión de la celebración de contratos financieros tiene carácter de obligaciones de medio y no de resultado. Circular Básica Jurídica No 007 de 1996 de la Superintendencia Financiera de Colombia.</p>
                <p>  <strong>Sufi es una marca registrada de Bancolombia S.A.</strong> Los productos y servicios ofrecidos a través de Sufi, son otorgados por Bancolombia S.A.  Copyright © 2016 GRUPO BANCOLOMBIA. </p>
            </div>
        </div>
        <img src="assets/images/superintendencia.png" alt="superintendencia" class="superintendencia"/>
    </div><!-- /container -->
</footer>