@import 'src/assets/styles/config'; 

.sect-simulator {
    &--banner {
        padding-top: 40px;
        margin-bottom: 60px;

        app-strip-title-h2 {
            margin-bottom: 50px;
        }
        
    }
    .card-info {
        padding-bottom: 30px;
    }
}
.cont-buttons-btw {
    a {
        width: 100%;
        margin-bottom: 20px;
    }
}


// Responsive
@include mq-min( small ) {
    .cont-buttons-btw {
        @include flex_wrap();
        justify-content: space-between;
        .u-btn {
            width: auto;
            margin-right: 20px;
            padding: 10px 36px;
            flex-grow: 1;
            &:last-of-type {
                margin-right: 0;
            }
        }
    }
}
@include mq-min( medium ) {
    .sect-simulator {
        &--banner {
            padding-bottom: 50px;
            margin-bottom: 30px;
            app-strip-title-h2 {
                margin-bottom: 40px;
            }
        }
    }
    .cont-buttons-btw {
        .u-btn {
            width: 100%;
            margin-right: 0;
        }
    }
}
@include mq-min( large ) {
    .sect-simulator {
        &--banner {
            padding-top: 60px;
            padding-bottom: 90px;
            margin-bottom: 60px;
            app-strip-title-h2 {
                margin-bottom: 80px;
            }
        }
    }
}
@include mq-min( xs-large ) {
    .cont-buttons-btw {
        .u-btn {
            width: auto;
            margin-right: 30px;
            &:last-of-type {
                margin-right: 0;
            }
        }
    }
}