<section>
    <app-title-main>¡Déjanos llamarte!</app-title-main>

    <div class="sect-simulator sect-simulator--banner  bg-light-gray">
        <div class="bgs-banner" aria-hidden="true">
            <div style="background-image: url(assets/images/bnn-ppa-lcs.jpg);" class="bgs-banner__lg"></div>
            <div style="background-image: url(assets/images/bnn-ppa-lcs-tb.jpg);" class="bgs-banner__md"></div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 break">
                    <app-strip-title-h2>¡Tus datos fueron enviados correctamente!</app-strip-title-h2>
                    <div class="card-info bg-white" data-aos="fade">
                        <div class="card-info__icon" aria-hidden="true">
                            <img src="/assets/icons/like.png" alt="">
                        </div>
                        <p class="u-bold">En poco tiempo, uno de nuestros asesores se comunicará contigo para guiarte en todo lo que quieras conocer y entender sobre nuestro crédito educativo.</p>
                    </div><!-- /card-info -->
                </div><!-- /col -->
            </div><!-- /row -->
            <div class="row">
                <div class="col-md-6 cont-buttons-btw">
                    <a routerLink="/dejanos-llamarte" class="u-btn u-btn--outline-red font-18">Volver al inicio</a>
                    <a routerLink="/" class="u-btn u-btn--red font-18">Volver a Hazlo Realidad</a>
                </div><!-- /col -->
            </div><!-- /row -->
        </div><!-- /container -->
        <div class="img-banner-mob" aria-hidden="true">
            <img src="/assets/images/bnn-ppa-lcs-tb.jpg" alt=""/>
        </div>
    </div> 
</section>


