@import 'src/assets/styles/config'; 

.section-simulator {
    &__step {
        padding: 40px 0 50px 0;
        &:nth-of-type(2) {
            padding-top: 60px;
            padding-bottom: 70px;
        }
    }
    &__title {
        margin-bottom: 20px;
    }

    // Responisve
    @include mq-min( medium ) {
        &__title {
            margin-bottom: 40px;
        }
    }
    @include mq-min( large ) {
        &__title {
            text-align: center;
            margin-bottom: 60px;
        }
    }
}

.card-info {
    position: relative;
    padding: 30px 30px 50px 30px;
    margin-top: 30px;
    margin-bottom: 50px;
    box-shadow: $shadow-one;
    &__title {
        position: relative;
        font-size: $size-24;
        text-transform: uppercase;
        margin-top: -50px;
        //transform: translateY(-52%);
    }
    app-question-button {
        position: absolute;
        width: calc(100% - 60px);
        bottom: 0;
        transform: translateY(50%);
    }

    @include mq-min ( medium ) {
        &__title {
            font-size: $size-35;
        }
    }
}

.select-custom {
    select {
        width: auto;
        padding: 12px 40px 12px 20px;
        background-color: transparent;
        border-width: 2px;
        height: auto;
        border-radius: $radius-one;
    }
}
.text-pad-left {
    padding-left: 50px;
    margin-bottom: 20px;
}

.panel-values {
    padding: 50px 20px;
    &--no-pad-left {
        padding-left: 0;
    }
    .item-value:first-of-type {
        margin-bottom: 60px;
    }
    .link-icon-left {
        margin-top: 40px;
    }
}

// Responsive
@include mq-max( medium ) {
    .select-custom {
        margin-bottom: 30px;
    }
    .text-pad-left {
        padding-left: 0;
    }
}

@include mq-min ( medium ) {
    .panel-values {
        padding: 70px 25px;
        &--no-pad-left {
            padding-left: 0;
        }
    }
}
@include mq-min ( xs-large ) {
    .col-right {
        padding-right: 80px;
    }
    .panel-values {
        padding: 55px 50px 40px 50px;
        &--no-pad-left {
            padding-left: 0;
        }
    }

}