<app-title-main>Simulador de crédito educativo sufi</app-title-main>

<section class="section-simulator">
    <div class="section-simulator__step bg-light-gray">
        <div class="container">
            <div class="section-simulator__title">
                <app-strip-title-h2>¡Hemos entendido lo que necesitas!</app-strip-title-h2>
            </div>

            <div class="row">
                <div class="col-md-6 mg-btm-30 col-right">
                    <p class="font-18 u-bold">Por eso creemos que este podría ser el crédito indicado para ti</p>
                    <div class="card-info bg-white" data-aos="fade">
                        <h3 class="card-info__title">Libre educativo</h3>
                        <p>Obtén un único desembolso de acuerdo a tu capacidad de endeudamiento y págalo hasta en 72
                            meses.</p>
                        <div class="card-info__actions">
                            <app-question-button href="#">No me quedó claro</app-question-button>
                        </div><!-- /card-info__actions -->
                    </div><!-- /card-info -->
                    <div class="row">
                        <div class="col-lg-6">
                            <p class="font-14">Si quieres modificar el valor de la cuota, selecciona un nuevo plazo de
                                pago</p>
                            <div class="select-custom">
                                <select name="" id="" class="form-control font-18">
                                    <option value="12">12 meses</option>
                                    <option value="18">18 meses</option>
                                    <option value="21">21 meses</option>
                                </select>
                            </div>
                        </div><!-- /col -->
                        <div class="col-lg-6">
                            <div class="input-value input-value--large">
                                <label class="text-uppercase u-regular font-18">El valor mensual de tu cuota es:</label>
                                <input type="text" value="$000.000" class="u-light" />
                            </div>
                        </div><!-- /col -->
                    </div><!-- /row -->
                </div><!-- /col -->
                <div class="col-md-6 mg-btm-30">
                    <p class="font-18 text-uppercase u-bold text-pad-left">Este valor incluye</p>
                    <div class="panel-values bg-white" data-aos="fade">
                        <div class="item-value">
                            <div class="input-value input-value--label">
                                <label>Cargos fijos</label>
                                <input type="text" value="$xxx.xxx">
                            </div><!-- /input-value -->
                            <app-question-button href="#" class="item-value__question item-value__question--odd">¿Qué
                                son los cargos fijos?</app-question-button>
                        </div><!-- /item-value -->
                        <div class="item-value">
                            <div class="input-value input-value--label">
                                <label>Capital e intereses</label>
                                <input type="text" value="$ xxx.xxx">
                            </div><!-- /input-value -->
                            <app-question-button href="#" class="item-value__question item-value__question--odd">¿Qué es
                                capital e intereses?</app-question-button>
                        </div><!-- /item-value -->
                        <div class="item-value">
                            <div class="input-value input-value--label">
                                <label>Seguro de asistencia educativa</label>
                                <input type="text" value="$ 10.450">
                            </div><!-- /input-value -->
                            <span class="font-14">* Recuerda que este seguro es voluntario</span>
                        </div><!-- /item-value -->
                    </div><!-- /panel-values -->
                </div><!-- /col -->
            </div><!-- /row -->
        </div><!-- /container -->
    </div><!-- step-simulator__step -->

    <div class="section-simulator__step">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mg-btm-40 col-right">
                    <p class="font-18 u-bold">Aunque, creemos que este también te puede funcionar.</p>
                    <div class="card-info bg-white" data-aos="fade">
                        <h3 class="card-info__title">Largo plazo</h3>
                        <p>Recibe un préstamo ilimitado que pagarás en un plazo de 84 meses.</p>
                        <div class="card-info__actions">
                            <app-question-button href="#">No me quedó claro</app-question-button>
                        </div><!-- /card-info__actions -->
                    </div><!-- /card-info -->
                    <div class="row">
                        <div class="col-12">
                            <h4 class="text-uppercase u-regular font-18">El valor mensual de tu cuota es:</h4>
                            <div class="input-value input-value--large">
                                <input type="text" value="$000.000" />
                            </div>
                            <span class="font-14">* Esta cuota corresponde al primer periodo académico que financies.
                                Cada utilización adicional se difiere a 84 meses, variando las cuotas mensuales.</span>
                        </div><!-- /col -->
                    </div><!-- /row -->
                </div><!-- /col -->
                <div class="col-md-6 mg-btm-40">
                    <p class="font-18 text-uppercase u-bold text-pad-left">Este valor incluye</p>
                    <div class="panel-values bg-white" data-aos="fade">
                        <div class="item-value">
                            <div class="input-value input-value--label">
                                <label>Cargos fijos</label>
                                <input type="text" value="$xxx.xxx">
                            </div><!-- /input-value -->
                            <app-question-button href="#" class="item-value__question">¿Qué son los cargos fijos?
                            </app-question-button>
                        </div><!-- /item-value -->
                        <div class="item-value">
                            <div class="input-value input-value--label">
                                <label>Capital e intereses</label>
                                <input type="text" value="$ xxx.xxx">
                            </div><!-- /input-value -->
                            <app-question-button href="#" class="item-value__question">¿Qué es capital e intereses?
                            </app-question-button>
                        </div><!-- /item-value -->
                        <a href="#" class="link-icon-left color-red u-underline" (click)="open(simulator)">
                            <img src="assets/icons/featured-idea.png" alt="Icono idea" aria-hidden="true">
                            ¿Tienes dudas? Te lo explicamos aquí
                        </a>
                    </div><!-- /panel-values -->
                </div><!-- /col -->
            </div><!-- /row -->
            <div class="text-center">
                <a href="/simulador" class="u-btn u-btn--red font-18">Simula tu crédito nuevamente</a>
            </div>
        </div><!-- /container -->
    </div><!-- /step-simulator__step -->
</section>

<app-what-want></app-what-want>
<app-sect-wait></app-sect-wait>

<ng-template #simulator let-modal>
    <button type="button" class="modal-dialog__close" aria-label="Cerrar" (click)="modal.dismiss('Cross click')">
        <app-svg-close></app-svg-close>
    </button>
    <div class="modal-body modal-info">
        <h2 class="text-uppercase modal-dialog__title">Te lo explicamos con esta tabla</h2>
        <div class="table-actions">
                <div class="table-actions__item table-actions__col-2">
                    <p class="font-14 u-bold">Número de periodos académicos a financiar</p>
                    <div class="select-custom">
                        <select name="" id="" class="form-control font-18">
                            <option value="9">9</option>
                            <option value="18">18</option>
                            <option value="21">21</option>
                        </select>
                    </div>
                </div>
                <div class="table-actions__item">
                    <p class="font-14 u-bold">Mi periódo académico dura:</p>
                    <div class="table-actions__radios"> 
                        <div class="form-group--radio">
                            <label>6 meses
                                <input type="radio" name="meses" />
                                <span aria-hidden="true"></span>
                            </label>
                        </div><!-- /form-group--radio -->
                        <div class="form-group--radio">
                            <label>9 meses
                                <input type="radio" name="meses" />
                                <span aria-hidden="true"></span>
                            </label>
                        </div><!-- /form-group--radio -->
                    </div><!-- /table-actions__radios -->
                </div>
        </div><!-- table-actions -->
        <div class="table-content">
            <table>
                <thead>
                    <tr>
                        <th class="u-bold">Plan de pagos <button><img src="assets/icons/question-red.png" /></button></th>
                        <th class="u-bold">Valor cuota</th>
                    </tr>
                </thead>
            </table>
            <ngx-simplebar data-simplebar data-simplebar-auto-hide="false">
                    <table>
                        <tbody>
                            <tr>
                                <td>Mes 1 al 6</td>
                                <td>$251.000</td>
                            </tr>
                            <tr>
                                <td>Mes 7 al 12</td>
                                <td>$251.000</td>
                            </tr>
                            <tr>
                                <td>Mes 13 al 18</td>
                                <td>$251.000</td>
                            </tr>
                            <tr>
                                <td>Mes 19 al 24</td>
                                <td>$251.000</td>
                            </tr>
                            <tr>
                                <td>Mes 25 al 30</td>
                                <td>$251.000</td>
                            </tr>
                            <tr>
                                <td>Mes 31 al 36</td>
                                <td>$251.000</td>
                            </tr>
                            <tr>
                                <td>Mes 37 al 42</td>
                                <td>$251.000</td>
                            </tr>
                            <tr>
                                <td>Mes 19 al 24</td>
                                <td>$251.000</td>
                            </tr>
                            <tr>
                                <td>Mes 25 al 30</td>
                                <td>$251.000</td>
                            </tr>
                            <tr>
                                <td>Mes 31 al 36</td>
                                <td>$251.000</td>
                            </tr>
                            <tr>
                                <td>Mes 37 al 42</td>
                                <td>$251.000</td>
                            </tr>
                        </tbody>
                    </table>
            </ngx-simplebar>
        </div>
    </div><!-- /modal-body -->
</ng-template><!-- ngb-modl -->
