
@import 'src/assets/styles/config';

.banner-main {
    margin-bottom: 130px;
    background-image: url(/assets/images/fondo-bnn-ppal.png);
    background-repeat: no-repeat;
    background-size: cover;
    &__text {
        margin-bottom: -50px;
    }
    app-strip-title, app-strip-title-h1, app-strip-title-h2 {
        display: block;
        margin-bottom: 20px;
    }
    &__fig {
        position: relative;
        background-color: $dark;
        width: 100%;
        bottom: -60px;
        box-shadow: $shadow-one;
        img {
            display: block;
        }
    }
}

// ============= Responsive =============
@include mq-max( medium ) {
    .banner-main {
        padding-top: 25px;
        background-position-x: 30%
    }
}
@include mq-min( medium ) {
    .banner-main {
        margin-top: 60px;
        margin-bottom: 130px;
        &__text {
            position: relative;
            top: -25px;
            width: 90%;
        }
        &__fig {
            bottom: -40px;
        }
    }
}