<section class="banner-main">
    <div class="container">
        <div class="banner-main__text">
            <app-strip-title-h1 addClass="banner-main__title">{{ title }}</app-strip-title-h1>
            <ng-content></ng-content>
        </div>
        <figure class="banner-main__fig" data-aos="fade-up">
            <img [src]="image" [alt]="title">
        </figure>
    </div><!-- /container -->
</section>
