<section class="sect-simulator-three">
    <app-title-main>Simulador de crédito educativo sufi</app-title-main>

    <article class="sect-simulator sect-simulator--odd bg-light-gray">
        <div class="bgs-banner">
            <div style="background-image: url(assets/images/afro-woman.jpg);"></div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="sect-simulator__title">
                        <app-strip-title-h2>¡Hemos entendido lo que necesitas!</app-strip-title-h2>
                        <p >Por eso creemos que este es el crédito indicado para ti</p>
                    </div>
                    <div class="card-info bg-white" data-aos="fade">
                        <h3 class="card-info__title text-uppercase">Corto plazo</h3>
                        <p>Accede hasta a 25 S.M.L.V (Salarios Mínimos Legales Vigentes)  
                            a pagar entre 6 y 12 meses.</p>
                        <div class="card-info__actions">
                            <app-question-button href="#">¿Sigues con dudas?</app-question-button>
                        </div><!-- /card-info__actions -->
                    </div><!-- /card-info -->

                    <div class="row">
                        <div class="col-lg-6">
                            <p class="font-14">Si quieres modificar el valor de la cuota, selecciona un nuevo plazo de
                                pago</p>
                            <div class="select-custom">
                                <select name="" id="" class="form-control font-18">
                                    <option value="12">12 meses</option>
                                    <option value="18">18 meses</option>
                                    <option value="21">21 meses</option>
                                </select>
                            </div>
                        </div><!-- /col -->
                        <div class="col-lg-6">
                            <div class="input-value input-value--large">
                                <label class="text-uppercase u-regular font-18">El valor mensual de tu cuota sería:</label>
                                <input type="text" value="$000.000" class="u-light" />
                            </div>
                        </div><!-- /col -->
                    </div><!-- /row -->

                    <div class="icon-sheet" aria-hidden="true">
                        <img src="assets/icons/curve-arrow-down.png" alt="Icone arrow" data-aos="fade-down">
                    </div>
                </div><!-- /col -->
            </div><!-- /row -->
        </div><!-- /container -->
    </article>
    <article class="sect-simulator sect-simulator--even">
        <div class="container">
            <div class="row row-content">
                <div class="col-lg-9">
                    <div class="panel-info panel-info--gray">
                        <app-strip-title-h2>Este valor incluye</app-strip-title-h2>
                        <div class="row">
                            <div class="col-md-6 mg-btm-30">
                                <div class="item-value">
                                    <div class="input-value input-value--label">
                                        <label>Cargos fijos</label>
                                        <input type="text" value="$xxx.xxx">
                                    </div><!-- /input-value -->
                                    <app-question-button href="#" class="item-value__question item-value__question--odd">¿Qué
                                        son los cargos fijos?</app-question-button>
                                </div><!-- /item-value -->
                                <div class="item-value">
                                    <div class="input-value input-value--label">
                                        <label>Capital e intereses</label>
                                        <input type="text" value="$ xxx.xxx">
                                    </div><!-- /input-value -->
                                    <app-question-button href="#" class="item-value__question item-value__question--odd">¿Qué es
                                        capital e intereses?</app-question-button>
                                </div><!-- /item-value -->
                                <div class="item-value">
                                    <div class="input-value input-value--label">
                                        <label>Seguro de asistencia educativa</label>
                                        <input type="text" value="$ 10.450">
                                    </div><!-- /input-value -->
                                    <span class="font-14">* Recuerda que este seguro es voluntario</span>
                                </div><!-- /item-value -->
                            </div><!-- /col -->
                            <div class="col-md-6 text-center">
                                <figure class="mg-btm-40 d-none d-sm-block"> 
                                    <img src="assets/icons/simulator.png" alt="icono simulador" width="150">
                                </figure>
                                <a href="#" class="u-btn u-btn--red">Simula tu crédito</a>
                            </div><!-- /col -->
                        </div><!-- /row -->
                    </div>
                </div><!-- /col -->
            </div><!-- /row -->
            <figure class="sect-simulator__fig-abs">
                <img src="assets/images/bag.png" alt="Imagen dr bolso" data-aos="fade">
            </figure>
        </div><!-- /container -->
    </article>
</section>
<app-what-want></app-what-want>
<app-sect-wait></app-sect-wait>