@import 'src/assets/styles/config'; 

.sect-simulator {
    &, .container {
        position: relative;
    }
    &--odd {
        padding-top: 30px;
        padding-bottom: 40px;
    }
    &--even {
        padding-top: 70px;
        background-image: url(/assets/images/bg-figures-two.png);
        @include bg_image();
    }
    &__title {
        margin-bottom: 40px;
        app-strip-title-h2 {
            margin-bottom: 1rem;
        }
    }
}

.bgs-sect {
    position: absolute;
    width: 45%;
    height: 100%;
    top:0;
    right: 0;
    div {
        width: 100%;
        height: 100%;
        @include bg_image(cover, center);
    }
}
.icon-sheet {
    position: absolute;
    left: 15px;
    bottom: -40px;
    transform: translateY(60%);
}
.panel-info {
    position: relative;
    padding: 70px 35px 30px;  
    background-color: $light-gray;    
    app-strip-title-h2 {
        position: absolute;
        top: 0;
        transform: translateY(-50%);
    }
}

// Responsive
@include mq-max( large ) {
    .sect-simulator {
        &__fig-abs {
            display: none;
        }
    }
}
@include mq-max( medium ) {
    .icon-sheet {
        display: none;
    }
    .panel-info {
        .item-value {
            app-question-button.item-value__question--odd {
                width: 25%;
            }
        }
    }
}
@include mq-max( xs-small ) {
    .sect-simulator {
        &__fig-abs {
            display: block;
            img {
                max-width: none;
                width: 100%;
            }
        }
    }
}
@include mq-min( medium ) {
    .sect-simulator {
        &--odd {
            padding-top: 50px;
            padding-bottom: 50px;
        }
    }
    .panel-info {
        padding: 75px 30px 50px 30px;
        .item-value:first-of-type {
            margin-bottom: 60px;
        }
    }
}
@include mq-min( large ) {
    .sect-simulator {
        &__title {
            display: flex;
            app-strip-title-h2 {
                margin-right: 20px;
            }
        }
        &--even {
            padding-bottom: 50px;
        }
        &__fig-abs {
            position: absolute;
            top: 50%;
            left: -30px;
            transform: translateY(-50%);
        }
    }
    .icon-sheet {
        left: 50%;
        bottom: -50px;
    }
    .row-content {
        justify-content: flex-end;
    }
    .panel-info {
        padding: 70px 40px 50px 90px;
    }
}