<app-banner-product title="Haz realidad tus estudios" image="assets/images/banner-friends.jpg">
    <p><strong class="u-bold">Haz realidad tu sueño de estudiar con Campus Sufi.</strong> Aquí encontrarás todo lo necesario para que cumplas tu meta. 
        Conoce nuestros créditos educativos, simula el tuyo o solicita un préstamo online. Además, te contamos cuáles son los requisitos y los documentos que debes tener listos en esta etapa que estás por comenzar. </p>
</app-banner-product>
<section class="sect-content">
    <div class="container">
        <div class="row row-content">
            <div class="col-md-6">
                <div class="art-info art-info--img" data-aos="fade-right">
                    <div class="u-bg-image" style="background-image:url(assets/images/woman-smiling.jpg)"></div>
                    <div class="art-info__cont color-white">
                        <h2 class="art-info__title text-uppercase">¿Cuánto cuesta estudiar?</h2>
                        <p>Entiende cómo se comportará tu crédito con nuestro simulador en línea: calcula sus cuotas, tasa de interés y plazos de pago.</p>
                        <a routerLink="/simulador-home" class="u-btn u-btn--red">Quiero simular mi crédito</a>
                    </div>
                </div><!-- /art-info -->
            </div><!-- /col -->
            <div class="col-md-6">
                <div class="art-info art-info--left">
                    <figure class="art-info__fig">
                        <img src="assets/icons/featured-idea-1.png" alt="Icono idea">
                    </figure>
                    <div class="art-info__cont">
                        <h2 class="art-info__title text-uppercase">Financia tu estudio</h2>
                        <p>¿Cuál crédito se ajusta mejor a lo que buscas para tu financiamiento? ¿Por qué un seguro de vida si solo vas a estudiar?</p>
                        <a routerLink="/producto" class="u-btn u-btn--red">Voy a descubrirlo</a>
                    </div>
                </div><!-- /art-info -->
            </div><!-- /col -->
            <div class="col-md-6">
                <div class="art-info art-info--right">
                    <div class="art-info__cont">
                        <h2 class="art-info__title text-uppercase">Préstamo digital</h2>
                        <p>¿Te aburren los trámites físicos? Te entendemos: ¡solicita tu estudio de crédito online. Ahora con Sufi te Presta en Línea!</p>
                        <figure class="art-info__fig  art-info__fig--mob">
                            <img src="assets/images/money-cel.png" alt="Icono préstamo digital">
                        </figure>
                        <a href="#" class="u-btn u-btn--red">Me interesa</a>
                    </div>
                    <figure class="art-info__fig art-info__fig--tablet">
                        <img src="assets/images/money-cel.png" alt="Icono préstamo digital">
                    </figure>
                </div><!-- /art-info -->
            </div><!-- /col -->
            <div class="col-md-6">
                <div class="art-info art-info--img" data-aos="fade-left">
                    <div class="u-bg-image" style="background-image:url(assets/images/dont-know.jpg)"></div>
                    <div class="art-info__cont color-white">
                        <h2 class="art-info__title text-uppercase">Lo que no debes olvidar</h2>
                        <p>¡Carga en tu mochila solo lo necesario! Te contamos lo que no debes olvidar sobre trámites y normativas.</p>
                        <a href="#" class="u-btn u-btn--red">Justo lo que busco</a>
                    </div>
                </div><!-- /art-info -->
            </div><!-- /col -->
        </div><!-- /row -->
    </div><!-- /container -->
</section>
