@import 'src/assets/styles/config';

.sect-content {
    padding-bottom: 70px;
    .row-content {
        position: relative;
    }

    // Responisve
    @include mq-min ( medium ) {
        padding-bottom: 0;
        margin-bottom: 150px;
        box-shadow: $shadow-one;
        .row-content {
            bottom: -80px;
            [class*="col-"] {
                margin-bottom: 30px;
            }
        }
    }
    @include mq-min ( large ) {
        margin-bottom: 100px;
        .row-content {
            bottom: -80px;
        }
    }
}