<div (window:resize)="onResize($event)">
    <app-banner-product title="Créditos a corto plazo" image="assets/images/img-ppal.jpg">
        <p class="u-bold font-18">¡Cumple tu sueño, estudia lo que quieres ahora!</p>
    </app-banner-product>

    <app-sect-achieve></app-sect-achieve>

    <app-strip-info title="No lo olvides">
        <p class="u-bold">Este crédito aplica independientemente de la modalidad que elijas: no importa si es de
            educación presencial o virtual. </p>
    </app-strip-info>

    <app-what-credit></app-what-credit>

    <section class="our-equation">
        <div class="container">
            <div class="equation bg-white">
                <h2 class="font-35 u-uppercase equation__title">nuestra ecuación para ti</h2>
                <div class="equation-vals">
                    <div class="equation-val">
                        <div class="equation-val__title">
                            <h4>Abono <span>al capital</span></h4>
                        </div>
                        <p><span>cada vez las cuotas cubrirán más de tu deuda al bajar los intereses.</span></p>
                    </div><!-- /equation -->
                    <div class="equation-val">
                        <div class="equation-val__title">
                            <h4>Abono a los <span>intereses</span></h4>
                        </div>
                        <p><span>irán disminuyendo con cada pago que hagas. </span></p>
                    </div><!-- /equation -->
                    <div class="equation-val">
                        <div class="equation-val__title">
                            <h4>Seguro de <span>vida integral</span></h4>
                        </div>
                        <p><span>para protegerte a ti y a tus familiares.</span></p>
                    </div><!-- /equation -->
                    <div class="equation-val">
                        <div class="equation-val__title">
                            <h4>Procesos</h4>
                        </div>
                        <p><span>ágiles y sencillos </span></p>
                    </div><!-- /equation -->
                    <div class="equation-val equation-val--red">
                        <div class="equation-val__title">
                            <h4>beneficios <span>adicionales</span></h4>
                        </div>
                        <p><span>por el seguro de asistencia de producto</span></p>
                    </div><!-- /equation -->
                </div><!-- / equation -vals-->
                <div class="equation-result">
                    <div class="equation-result__icons">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="50" height="35" viewBox="0 0 50 35" class="img-curve-arrow">
                            <defs>
                                <path id="prefix__a" d="M0 0L49.48 0 49.48 34.086 0 34.086z"/>
                            </defs>
                            <g fill="none" fill-rule="evenodd" transform="matrix(1 0 0 -1 0 35)">
                                <mask id="prefix__b" fill="#fff">
                                    <use xlink:href="#prefix__a"/>
                                </mask>
                                <path fill="#FA0A3C" d="M39.741 11.396c-.336-.67-.77-1.283-1.367-1.73-1.204-.906-2.632-.643-3.958-.37-1.387.032-2.767.41-4.073.75-1.728.452-3.425 1-5.08 1.64-1.93.746-3.803 1.62-5.613 2.6-1.042.523-2.065 1.079-3.07 1.664 2.56-1.976 5.292-3.748 8.188-5.25 2.634-1.376 5.67-3.072 8.773-2.948.504.02.923-.245 1.094-.668.204-.035.405-.074.61-.106.914-.144 1.23-1.393.44-1.992-.25-.188-.489-.39-.737-.58 2.236.501 4.48.936 6.737 1.315 1.098.338 2.195.683 3.29 1.04-.067.059-.14.115-.205.175-1.933 1.179-3.621 2.686-5.029 4.46m8.514-6.959c-2.038-.226-4.067-.523-6.088-.86-4.281-1.315-8.595-2.485-12.952-3.536-.575-.139-1.024.091-1.262.45-.758.179-1.135 1.111-.56 1.811.815.996 1.929 1.627 3.008 2.28.41.246.853.505 1.235.818-4.918 1.145-9.59 3.078-13.824 5.687-4.979 3.06-9.5 7.04-12.948 11.778-1.608 2.202-2.931 4.64-3.817 7.27-.32.546-.627 1.102-.906 1.678-.297.612-.087 1.194.277 1.492.203.734 1.162 1.155 1.689.326C6.639 26.496 12.85 20.48 20.232 16.44c3.35-1.702 6.89-3.061 10.564-4.03 1.32-.349 2.66-.648 4.012-.892.518.016 1.027.097 1.508.296.656.273 1.303.77 1.557 1.49.321.912-.04 1.946-.294 2.797-.325 1.103 1.13 2.303 1.768 1.18 1.828-3.21 4.106-6.102 6.843-8.522.687-.4 1.401-.757 2.15-1.06.523-.209.743-.69.68-1.159.928-.644.341-1.978-.765-2.103" mask="url(#prefix__b)"/>
                            </g>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="23" height="17" viewBox="0 0 23 17" class="img-equal">
                            <defs>
                                <path id="prefix__a" d="M0 0.25L22.212 0.25 22.212 6.712 0 6.712z"/>
                                <path id="prefix__c" d="M0 0.038L22.212 0.038 22.212 6.5 0 6.5z"/>
                            </defs>
                            <g fill="none" fill-rule="evenodd">
                                <g transform="translate(0 .25)">
                                    <mask id="prefix__b" fill="#fff">
                                        <use xlink:href="#prefix__a"/>
                                    </mask>
                                    <path fill="#E62242" d="M1.394 1.95l.006-.216.234.006c-.091.05-.17.122-.24.21m.578 2.936c.011-.008.021-.017.032-.024.007.011.017.02.025.032l-.066-.003.01-.005m12.596.346c-.01-.086-.032-.17-.07-.247.22.093.452.166.697.22-.087.01-.171.03-.258.04-.123-.002-.246-.01-.369-.013M1.906 6.235c2.037.67 4.425.5 6.7.288 1.412.088 2.824.158 4.238.123l.481-.01c2.605.152 5.146-.128 7.778-.374.4-.046.548-.364.503-.67.146-.088.255-.236.263-.465.051-1.42.586-2.804.21-4.22-.061-.23-.216-.365-.393-.435-.126-.148-.309-.248-.554-.217-2.71.341-5.442.456-8.182.468-.794-.014-1.588-.014-2.383-.011C7.379.665 4.189.52 1.025.45.877.447.761.496.66.562.436.586.243.722.177.98c-.085.091-.147.21-.148.38 0 .65 0 1.3-.002 1.954 0 .096.02.18.05.257l-.015.558c-.017.626-.202 1.421.16 1.97.118.174.401.27.603.225l.081-.021.003-.001h.004c.335-.034.661-.041.993-.067" mask="url(#prefix__b)"/>
                                </g>
                                <g transform="translate(0 9.25)">
                                    <mask id="prefix__d" fill="#fff">
                                        <use xlink:href="#prefix__c"/>
                                    </mask>
                                    <path fill="#E62242" d="M1.394 1.738l.006-.216.234.007c-.091.05-.17.121-.24.21m.578 2.935l.032-.024c.007.011.017.021.025.032l-.066-.002.01-.006m12.596.346c-.01-.085-.032-.169-.07-.247.22.094.452.167.697.22-.087.01-.171.03-.258.04-.123-.002-.246-.01-.369-.013M1.906 6.023c2.037.67 4.425.5 6.7.288 1.412.089 2.824.158 4.238.123l.481-.01c2.605.152 5.146-.128 7.778-.374.4-.046.548-.364.503-.67.146-.087.255-.236.263-.465.051-1.419.586-2.804.21-4.22-.061-.23-.216-.365-.393-.435-.126-.148-.309-.247-.554-.216-2.71.34-5.442.455-8.182.467C12.156.497 11.362.498 10.567.5 7.379.453 4.189.308 1.025.238.877.235.761.284.66.35.436.375.243.511.177.77.092.859.03.979.03 1.148c0 .65 0 1.301-.002 1.954 0 .096.02.181.05.258l-.015.557c-.017.626-.202 1.421.16 1.97.118.175.401.271.603.225l.081-.02.003-.002h.004c.335-.033.661-.04.993-.067" mask="url(#prefix__d)"/>
                                </g>
                            </g>
                        </svg>
                    </div>
                    <span class="u-bold">Crédito a corto plazo Sufi.</span>
                </div>
            </div><!-- /equation -->
        </div><!-- /container -->
    </section><!-- /Our-equation -->

    <section class="supplement-credit bg-curve">
        <div class="container container--lg">
            <div class="cont-head">
                <h2 class="font-35 u-uppercase">Complementa tu crédito con el seguro de asistencia de producto</h2>
                <p>Al tomar este crédito, puedes acceder a un seguro opcional de asistencia para complementar tu
                    experiencia con beneficios adicionales como:</p>
            </div><!-- /cont-head -->
            <div class="row align-items-center">
                <div class="col-md-5 text-center col-img">
                    <img src="assets/images/img-adviser.png" alt="Asesora" *ngIf="tablet">
                    <img src="assets/images/img-adviser-mobile.png" alt="Asesora" *ngIf="!tablet">
                </div><!-- /class -->
                <div class="col-md-7">
                    <ul class="list-circle">
                        <li>Asesoría para la elaboración de tu trabajo de grado o tesis.</li>
                        <li>Asesoría con un tutor académico.</li>
                        <li>Supervisión técnica ante daños en tu computador.</li>
                        <li>Servicio de mensajería para la entrega de tu trabajo de grados o tesis.</li>
                    </ul><!-- /list-circle -->
                    <a href="#" class="u-btn u-btn--outline-red px-4">Descubre los beneficios</a>
                </div><!-- /col -->
            </div><!-- /row -->
        </div><!-- /container -->
    </section>
    <hr>
    <app-strip-info title="Ten presente">
        <p class="u-bold">El costo de este seguro es $10.450 pesos mensuales durante la vigencia del crédito o hasta su
            cancelación.</p>
    </app-strip-info>

    <section class="what-want" id="what-want" style="background-image: url(assets/images/bg-what-want.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-6 col-md-7">
                    <h2 class="color-white u-uppercase what-want__title">Ahora que sabes qué es el crédito <span>a corto plazo</span> ¿Qué quieres hacer?</h2>
                    <div class="items-credit items-credit--3" *ngIf="xs_large">
                        <app-item-credit 
                                href="#" image="assets/icons/online-process.png" 
                                alt="Icono proceso" textLink="Empecemos" 
                                data-aos="fade-up"
                                >Inicia tu solicitud de crédito en línea</app-item-credit>
                        <app-item-credit 
                            href="/simulador" image="assets/icons/simulator.png" 
                            alt="Icono de simulador" textLink="Vamos" 
                            data-aos="fade-up"
                            >Simulemos tu crédito</app-item-credit>
                        <app-item-credit 
                            image="assets/icons/send-email.png" 
                            alt="Icono de email" 
                            data-aos="fade-up"
                            >Podemos enviarte esta información a tu correo</app-item-credit>
                    </div><!-- /items-credit -->
                    <app-slider-what-want *ngIf="!xs_large">
                        <div class="swiper-slide">
                            <app-item-credit 
                                href="#" image="assets/icons/online-process.png" 
                                alt="Icono proceso" textLink="Empecemos" 
                                data-aos="fade-up"
                                >Inicia tu solicitud de crédito en línea</app-item-credit>
                        </div><!-- /swiper-slide -->
                        <div class="swiper-slide">
                            <app-item-credit 
                                href="#" image="assets/icons/simulator.png" 
                                alt="Icono de simulador" textLink="Vamos" 
                                data-aos="fade-up"
                                >Simulemos tu crédito</app-item-credit>
                        </div><!-- /swiper-slide -->
                        <div class="swiper-slide">
                            <app-item-credit 
                                image="assets/icons/send-email.png" 
                                alt="Icono de email"
                                data-aos="fade-up"
                                >Podemos enviarte esta información a tu correo</app-item-credit>
                        </div><!-- /swiper-slide -->
                    </app-slider-what-want>
                    <div class="info-legal">
                        <p class="text-center u-underline color-white"><a href="#" class="color-white" (click)="showExpandible($event)">Haz clic aquí
                                para conocer la información legal</a></p>
                        <app-info-expandible class="app-expandible" [ngClass]="{ 'is-active': expandible }" (expandible)="closeExpandible($event)"></app-info-expandible>
                    </div>
                </div><!-- / col -->
            </div><!-- /row -->
        </div><!-- /container -->
    </section>

    <app-sect-wait></app-sect-wait>
</div>