@import 'src/assets/styles/config';

// Our equation
.our-equation {
    position: relative;
    padding-top: 50px;
    &:before {
        @include seudo_elm();
        width: 100%;
        height: 70%;
        top: 0;
        left: 0;
        background-color: $light-gray;
        z-index: -1;
    }
}
.equation {
    padding: 0 30px 40px 30px;
    box-shadow: $shadow-one;
    &__title {
        position: relative;
        top: -.6em;
        margin-bottom: 10px;
    }
    &-vals {
        display: flex;
        flex-direction: column;
    }
    &-val {
        margin-bottom: 25px;
        &:first-of-type {
            .equation-val__title {
                padding-left: 0;
                &:before {
                    content: normal;
                }
            }
        }
        &__title {
            position: relative;
            padding-left: 2rem;
            padding-bottom: 10px;
            margin-bottom: 10px;
            border-bottom: 1px solid $light-gray;
            &:before {
                @include seudo_elm(url(/assets/icons/plus.png));
                top: 50%;
                left: 0;
                transform: translateY(-50%);
            }  
            h4 {
                display: inline-block;
                position: relative;
                min-width: 120px;
                min-height: 30px;
                padding: 8px 24px;
                margin-bottom: 0;
                font-size: $size-16;
                &:before, &:after {
                    @include seudo_elm(url(/assets/icons/parentheses-left.png));
                    display: block;
                    height: 50px;
                    top: 50%;
                }
                &:before {
                    left: -11px;
                    transform: translateY(-50%);
                }
                &:after {
                    right: -5px;
                    transform: translateY(-50%) rotateY(180deg);
                }
            }
            span {
                display: block;
            }
        }
        &--red {
            color: $red;
        }
    }
    &-result {
        display: flex;
        padding-right: 30px;
        &__icons {
            display: inline-block;
            width: 35px;
            margin-right: 10px;
            text-align: right;
            svg {
                max-width: 100%;
            }
        }
        span {
            font-size: 30px;
            line-height: 1.1;
        }
    }
}

// supplement-credit
.supplement-credit {
    position: relative;
    padding-top: 60px;
    padding-bottom: 30px;
    background-image: url(/assets/images/bg-figures.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
    .cont-head {
        margin-bottom: 2rem;
    }
    .list-circle {
        margin-bottom: 30px;
        margin-top: 72px;
    }
    &.bg-curve {
        background-image: none;
        &:after{
            background-image: url(/assets/images/bg-figures.png);
            content: "";
            position: absolute;
            width: 100%;
            background-size: contain;
            width: 106%;
            height: 100%;
            top: 190px;
            background-repeat: no-repeat;
            transform: rotate(-3deg);
            z-index: -1;
            background-position: -67px -60px;
        }
    }
}

// ============= Responisve ==============
@include mq-max ( medium ) {
    .supplement-credit {
        .col-img {
            margin-bottom: 40px;
        }
    }
}
@include mq-min( medium ) {
    // our-equation
    .our-equation {
        padding-top: 70px;
    }
    .equation {
        &-vals {
            flex-direction: row;
            justify-content: space-around;
        }
        &-val {
            width: 20%;
            padding-left: 8px;
            padding-right: 8px;
            margin-bottom: 0;
            &__title {
                display: flex;
                justify-content: center;
                align-items: center;
                min-height: 59.4px;
                padding-left: 0;
                &:before {
                    transform: translate(-90%, -50%);
                }
                h4 {
                    font-size: $size-14;
                    padding:8px 15px;
                }
            }
        }
        &-result {
            align-items: center;
            &__icons {
                width: auto;
                svg {
                    vertical-align: bottom;
                    &:first-of-type {
                        margin-right: 10px;
                    }
                }
            }
            span {
                margin-top: 12px;
            }
        }
    }
    // supplement-credit
    .supplement-credit { 
        padding-bottom: 90px;
        background-size: 150%;
        background-position: center 30%;
        .list-circle {
            margin-bottom: 50px;
        }
    }
    .equation {
        &-val {
            p {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0 20px;
            }
        }
    }
}

@include mq-min ( large ) {
    .equation {
        padding: 0 50px 50px 50px;
        &-val {
            &__title {
                h4 {
                    min-width: 120px;
                    padding: 5px 20px;
                }
            }
        }
    }
}
@include mq-min ( xs-large ) { 
    .supplement-credit {
        background-position: center 25%;
        background-size: 100%;
    }
    .equation {
        padding: 0 50px 50px 50px;
        &-val {
            &__title {
                h4 {
                    font-size: $size-16;
                }
            }
        }
    }
}
