<div class="info-expandable" (window:resize)="onResize($event)">
    <div class="row" *ngIf="tablet">
        <div class="col-4"></div>
        <div class="col-8"></div>
        <app-tabs class="info-expandable__tabs">
            <div class="info-expandable__conts">
                <app-tab-item title="Tasa de interés">
                    <h3 class="font-35 color-white info-expandable__title">Documentos que debes
                        diligenciar al solicitar tu crédito:</h3>
                    <ul class="list-circle color-white">
                        <li>Asesoría para la elaboración de tu trabajo de grado o tesis.</li>
                        <li>Asesoría con un tutor académico.</li>
                        <li>Supervisión técnica ante daños en tu computador.</li>
                        <li>Servicio de mensajería para la entrega de tu trabajo de grados o tesis.
                        </li>
                    </ul><!-- /list-circle -->
                </app-tab-item>
                <app-tab-item title="Que debes diligenciar al solicitar tu crédito">
                    <h3 class="font-35 color-white info-expandable__title">Documentos que debes
                        diligenciar al solicitar tu crédito:</h3>
                    <ul class="list-circle color-white">
                        <li>Asesoría para la elaboración de tu trabajo de grado o tesis.</li>
                        <li>Asesoría con un tutor académico.</li>
                        <li>Supervisión técnica ante daños en tu computador.</li>
                        <li>Servicio de mensajería para la entrega de tu trabajo de grados o tesis.
                        </li>
                    </ul><!-- /list-circle -->
                </app-tab-item>
                <app-tab-item title="Gravamen a los movimientos financieros (GMF)">
                    <h3 class="font-35 color-white info-expandable__title">Documentos que debes
                        diligenciar al solicitar tu crédito:</h3>
                    <ul class="list-circle color-white">
                        <li>Asesoría para la elaboración de tu trabajo de grado o tesis.</li>
                        <li>Asesoría con un tutor académico.</li>
                        <li>Supervisión técnica ante daños en tu computador.</li>
                        <li>Servicio de mensajería para la entrega de tu trabajo de grados o tesis.
                        </li>
                    </ul><!-- /list-circle -->
                </app-tab-item>
                <app-tab-item title="Exenciones al gravamen a los movimientos financieros">
                    <h3 class="font-35 color-white info-expandable__title">Documentos que debes
                        diligenciar al solicitar tu crédito:</h3>
                    <ul class="list-circle color-white">
                        <li>Asesoría para la elaboración de tu trabajo de grado o tesis.</li>
                        <li>Asesoría con un tutor académico.</li>
                        <li>Supervisión técnica ante daños en tu computador.</li>
                        <li>Servicio de mensajería para la entrega de tu trabajo de grados o tesis.
                        </li>
                    </ul><!-- /list-circle -->
                </app-tab-item>
                <app-tab-item title="Seguros">
                    <h3 class="font-35 color-white info-expandable__title">Documentos que debes
                        diligenciar al solicitar tu crédito:</h3>
                    <ul class="list-circle color-white">
                        <li>Asesoría para la elaboración de tu trabajo de grado o tesis.</li>
                        <li>Asesoría con un tutor académico.</li>
                        <li>Supervisión técnica ante daños en tu computador.</li>
                        <li>Servicio de mensajería para la entrega de tu trabajo de grados o tesis.
                        </li>
                    </ul><!-- /list-circle -->
                </app-tab-item>
            </div><!-- /info-expandable__cont -->
        </app-tabs>
    </div><!-- /row -->
    <div class="info-expandable__mob" *ngIf="!tablet">
        <app-accordion>
            <app-accordion-item title="Tasa de interés">
                <h3 class="font-24 color-white info-expandable__title">Documentos que debes
                    diligenciar al solicitar tu crédito:</h3>
                <ul class="list-circle color-white">
                    <li>Asesoría para la elaboración de tu trabajo de grado o tesis.</li>
                    <li>Asesoría con un tutor académico.</li>
                    <li>Supervisión técnica ante daños en tu computador.</li>
                    <li>Servicio de mensajería para la entrega de tu trabajo de grados o tesis.
                    </li>
                </ul><!-- /list-circle -->
            </app-accordion-item>
            <app-accordion-item title="que debes diligenciar al solicitar tu crédito">
                <h3 class="font-24 color-white info-expandable__title">Documentos que debes
                    diligenciar al solicitar tu crédito:</h3>
                <ul class="list-circle color-white">
                    <li>Asesoría para la elaboración de tu trabajo de grado o tesis.</li>
                    <li>Asesoría con un tutor académico.</li>
                    <li>Supervisión técnica ante daños en tu computador.</li>
                    <li>Servicio de mensajería para la entrega de tu trabajo de grados o tesis.
                    </li>
                </ul><!-- /list-circle -->
            </app-accordion-item>
            <app-accordion-item title="Gravamen a los movimientos financieros (GMF)">
                <h3 class="font-24 color-white info-expandable__title">Documentos que debes
                    diligenciar al solicitar tu crédito:</h3>
                <ul class="list-circle color-white">
                    <li>Asesoría para la elaboración de tu trabajo de grado o tesis.</li>
                    <li>Asesoría con un tutor académico.</li>
                    <li>Supervisión técnica ante daños en tu computador.</li>
                    <li>Servicio de mensajería para la entrega de tu trabajo de grados o tesis.
                    </li>
                </ul><!-- /list-circle -->
            </app-accordion-item>
            <app-accordion-item title="Exenciones al gravamen a los movimientos financieros">
                <h3 class="font-24 color-white info-expandable__title">Documentos que debes
                    diligenciar al solicitar tu crédito:</h3>
                <ul class="list-circle color-white">
                    <li>Asesoría para la elaboración de tu trabajo de grado o tesis.</li>
                    <li>Asesoría con un tutor académico.</li>
                    <li>Supervisión técnica ante daños en tu computador.</li>
                    <li>Servicio de mensajería para la entrega de tu trabajo de grados o tesis.
                    </li>
                </ul><!-- /list-circle -->
            </app-accordion-item>
            <app-accordion-item title="Seguros">
                <h3 class="font-24 color-white info-expandable__title">Documentos que debes
                    diligenciar al solicitar tu crédito:</h3>
                <ul class="list-circle color-white">
                    <li>Asesoría para la elaboración de tu trabajo de grado o tesis.</li>
                    <li>Asesoría con un tutor académico.</li>
                    <li>Supervisión técnica ante daños en tu computador.</li>
                    <li>Servicio de mensajería para la entrega de tu trabajo de grados o tesis.
                    </li>
                </ul><!-- /list-circle -->
            </app-accordion-item>
        </app-accordion>
    </div><!-- /info-expandable__mob -->
    <button class="info-expandable__close" (click)="closeExpandible($event)">
        <app-svg-close></app-svg-close>
    </button>
</div><!-- /info-expandable -->