@import 'src/assets/styles/config';

.info-expandable {
    display: flex;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    &__title {
        margin-bottom: 20px;
    }
    &__conts {
        background-color: #6e6e6e;
    }
    &__close {
        position: absolute;
        top: 15px;
        right: 15px;
        transition: transform .2s linear;
        &:hover {
            transform: scale(1.1);
        }
    }
    &.is-active {
        @include seudo_elm();
    }
    &__mob {
        padding: 40px 30px;
        background-color: $default;
        &:before {
            @include seudo_elm();
            width: 0;
            height: 0;
            top: -20px;
            right: 0;
            left: 0;
            margin: auto;
            border-width: 0 20px 20px 20px;
            border-style: solid;
            border-color: transparent transparent $default transparent;    
        }
    }
}

// responsive
@include mq-max ( medium ) {
    .info-expandable {
        &__close {
            right: 30px;
        }
    }
}
@include mq-min( medium ) {
    // .info-expandable
    .info-expandable {
        width: 175%;
    }
}

@include mq-min ( large ) {
    // .info-expandable
    .info-expandable {
        width: 930px;
    }
}

@include mq-min ( xs-large ) { 
    // .info-expandable
    .info-expandable {
        width: 1110px;
    }
}