@import 'src/assets/styles/config';

.swiper-what-want {    
    .swiper-button-prev, .swiper-button-next {
        width: 35px;
        transition: transform .2s linear;
        &:after {
            content: normal;
        }
    } 
    .swiper-button-prev {
        left: 5px;
        transform: translateY(-45%);
        &:hover {
            transform: scale(1.1) translateY(-45%);
        }
    }
    .swiper-button-next {
        right: 5px;
        transform: translateY(-45%) rotate(180deg);
        &:hover {
            transform: translateY(-45%) rotate(180deg) scale(1.1);
        }
    }

    @include mq-max ( xs-large ) {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        .swiper-wrapper {
            align-items: stretch;
        }
    }
    @include mq-max ( medium ) {
        width: 340px;
        padding:0 10px 40px;
    }
}