<div class="swiper-container swiper-what-want">
    <div class="swiper-wrapper">
        <ng-content></ng-content>
    </div><!-- /swiper-wrapper -->
    <div class="swiper-button-next" role="button">
        <svg xmlns="http://www.w3.org/2000/svg" width="39" height="39" viewBox="0 0 39 39">
            <g fill="none" fill-rule="evenodd">
                <path fill="#FFF"
                    d="M8.168 3.575s9.189-5.04 16.21-3.151c7.018 1.889 13.146 6.548 14.04 11.21.893 4.658 1.021 14.86-1.533 18.89-2.552 4.031-8.168 8.185-13.912 8.439-5.742.25-14.295-.755-17.102-3.025C3.062 33.673 0 22.97 0 20.45 0 17.932 2.552 10.375 3.445 8.86c.894-1.508 4.086-5.164 4.723-5.286" />
                <path fill="#FA0A3C"
                    d="M24.713 26.172c-2.339-2.58-4.968-4.876-7.809-6.907 1.886-1.892 3.926-3.624 6.14-5.144.54-.372.574-.984.34-1.44.53-.858-.423-2.17-1.43-1.494-1.682 1.127-3.256 2.408-4.659 3.857-.705.728-1.361 1.496-1.982 2.293-.627.802-1.447 1.704-1.295 2.79.135.964 1.028 1.74 1.697 2.392.735.713 1.533 1.358 2.356 1.971 1.683 1.253 3.506 2.306 5.327 3.353 1.095.63 2.117-.785 1.315-1.67" />
            </g>
        </svg>
    </div>
    <div class="swiper-button-prev" role="button">
        <svg xmlns="http://www.w3.org/2000/svg" width="39" height="39" viewBox="0 0 39 39">
            <g fill="none" fill-rule="evenodd">
                <path fill="#FFF"
                    d="M8.168 3.575s9.189-5.04 16.21-3.151c7.018 1.889 13.146 6.548 14.04 11.21.893 4.658 1.021 14.86-1.533 18.89-2.552 4.031-8.168 8.185-13.912 8.439-5.742.25-14.295-.755-17.102-3.025C3.062 33.673 0 22.97 0 20.45 0 17.932 2.552 10.375 3.445 8.86c.894-1.508 4.086-5.164 4.723-5.286" />
                <path fill="#FA0A3C"
                    d="M24.713 26.172c-2.339-2.58-4.968-4.876-7.809-6.907 1.886-1.892 3.926-3.624 6.14-5.144.54-.372.574-.984.34-1.44.53-.858-.423-2.17-1.43-1.494-1.682 1.127-3.256 2.408-4.659 3.857-.705.728-1.361 1.496-1.982 2.293-.627.802-1.447 1.704-1.295 2.79.135.964 1.028 1.74 1.697 2.392.735.713 1.533 1.358 2.356 1.971 1.683 1.253 3.506 2.306 5.327 3.353 1.095.63 2.117-.785 1.315-1.67" />
            </g>
        </svg>
    </div>
</div>