<link rel="stylesheet" title="" href="https://sufi.grupobancolombia.com/wcm/connect/17d50a67-5e24-4bbe-b064-28119a6c8262/bancolombia.css?MOD=AJPERES" type="text/css" />
<link rel="stylesheet" title="" href="https://sufi.grupobancolombia.com/wcm/connect/6e4c73b0-0aa9-4658-999e-15250674c5a1/sufi.css?MOD=AJPERES" type="text/css" />
<link rel="stylesheet" title="" href="https://sufi.grupobancolombia.com/wcm/connect/072bce41-2632-4d30-aca5-a0f72ada67f6/modules.css?MOD=AJPERES" type="text/css" />
<link rel="stylesheet" title="" href="https://sufi.grupobancolombia.com/wcm/connect/29af7c8f-50da-4075-911c-80d96535cd62/menu-negocios-especializados.css?MOD=AJPERES&amp;CACHEID=ROOTWORKSPACE.Z18_K9HC1202P8T920QMBOHRM43005-29af7c8f-50da-4075-911c-80d96535cd62-mSTqAJJ" type="text/css" />
<script src="https://sufi.grupobancolombia.com/wcm/connect/d29929c5-cf8a-4145-a40b-20bfae51334c/navegacion.js?MOD=AJPERES"></script>
<script src="https://sufi.grupobancolombia.com/wcm/connect/8b6bf50c-12d9-4682-b0c4-f13b5aaa2ccc/app-min.js?MOD=AJPERES" defer></script>
<script src="https://sufi.grupobancolombia.com/wcm/connect/06d72771-bffe-451b-a6d8-b6c5dacd9805/modules.js?MOD=AJPERES&amp;CACHEID=ROOTWORKSPACE.Z18_K9HC1202P8T920QMBOHRM43005-06d72771-bffe-451b-a6d8-b6c5dacd9805-myl2WZy" defer></script>

<style>
    .navegacion.rojo .top-nav .top-ribbon {
    background-color: #e7e9eb;
    box-shadow: none;
    border-bottom: 2px solid #dcdcdc;
}


.navegacion .top-nav .top-ribbon {
    overflow: hidden;
    font-size: 14px;
    z-index: 1006;
    position: relative;
    height: 40px;
    background-color: #545454;
    -moz-box-shadow: inset 0 -40px 40px -42px #000000;
    -webkit-box-shadow: inset 0 -40px 40px -42px #000000;
    box-shadow: inset 0 -40px 40px -42px #000000;
}
</style>

<div id="barra-navegacion" class="navegacion rojo">
    
<div class="top-nav">
    <div class="top-nav">
        <div class="top-ribbon hidden-xs">
            <div class="barra"></div>
            <div id="menu-1nivel" class="container-fluid">
                <div class="row">
                    <ul>
                        <li id="linkPersonas"><span class="flecha"></span> <a
                            href="//www.grupobancolombia.com/wps/portal/personas/"
                            onclick="changeActive('linkPersonas');changeDesActive('linkPymes'); changeDesActive('linkEmpresas'); changeDesActive('linkAcercaDe');">Personas </a></li>
                        <li id="linkPymes"><span class="flecha"></span> <a
                            href="//www.grupobancolombia.com/wps/portal/negocios-pymes/"
                            onclick="changeDesActive('linkPersonas'); changeActive('linkPymes'); changeDesActive('linkEmpresas'); changeDesActive('linkAcercaDe');">Pymes </a></li>     
                        <li id="linkEmpresas"><span class="flecha"></span><a
                            href="//www.grupobancolombia.com/wps/portal/empresas/"
                            onclick="changeDesActive('linkPymes');changeActive('linkEmpresas'); changeDesActive('linkPersonas'); changeDesActive('linkAcercaDe');">Empresas</a></li>
                        <li id="linkAcercaDe"><span class="flecha"></span><a
                            href="//www.grupobancolombia.com/wps/portal/acerca-de/"
                            onclick="changeActive('linkAcercaDe');changeDesActive('linkPymes'); changeDesActive('linkPersonas'); changeDesActive('linkEmpresas');"><span>Acerca de Nosotros</span></a></li>
                        <li id="menu-filiales" ><span class="flecha"></span><a style="cursor: pointer;">Negocios
                                Especializados</a></li>
                        <li class="derecha filiales"><a style="cursor: pointer;"><img src="/wcm/connect/c1858f2a-c050-41fd-a3da-4304e8ef1d5d/1/img.png?MOD=AJPERES&amp;CACHEID=ROOTWORKSPACE.Z18_OHHGG4G0PG1D40QA3NJSO73024-c1858f2a-c050-41fd-a3da-4304e8ef1d5d/1-mD7LLGW" /></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="top-menu hidden-xs">
            <div class="container-fluid">
                <div class="row" style="position: absolute; margin-top: -1000px;">
                    <div class="col-md-6">
                        <h2>Negocios en Colombia</h2>
                        <ul class="check-list">
                            <li>
                                <a href="//bancainversion.grupobancolombia.com">Banca de Inversi&oacuten Bancolombia</a>
                            </li>
                            <li>
                                <a href="//fiduciaria.grupobancolombia.com">Fiduciaria Bancolombia</a>
                            </li>
                            <li>
                                <a href="//leasing.grupobancolombia.com">Leasing Bancolombia</a>
                            </li>
                            <li>
                                <a href="//renting.grupobancolombia.com">Renting Colombia</a>
                            </li>
                            <li>
                                <a href="//valores.grupobancolombia.com">Valores Bancolombia</a>
                            </li>
                            <li>
                                <a href="//factoring.grupobancolombia.com">Factoring Bancolombia</a>
                            </li>
                            <li>
                                <a href="//assetmanagement.grupobancolombia.com">Asset Management</a>
                            </li>
                            <li>
                                <a href="//comerciointernacional.grupobancolombia.com">Comercio Internacional</a>
                            </li>
                            <li>
                                <a href="//sufi.grupobancolombia.com">Sufi</a>
                            </li>
                            <li>
                                <a href="http://www.tuya.com.co" >Tuya</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <h2>Entidades en el exterior</h2>
                        <ul class="check-list">
                            <li>
                                <a href="//valoresbanistmo.grupobancolombia.com">Valores Banistmo</a>
                            </li>
                                                <li>
                                <a href="//sucursalpanama.grupobancolombia.com">Sucursal Panam&aacute</a>
                            </li>
                            <li>
                                <a href="//panama.grupobancolombia.com">Bancolombia Panam&aacute</a>
                            </li>
                            <li>
                                <a href="//cayman.grupobancolombia.com">Bancolombia Cayman</a>
                            </li>
                            <li>
                                <a href="//puertorico.grupobancolombia.com">Bancolombia Puerto Rico</a>
                            </li>
                            <li>
                                <a href="https://www.banistmo.com/wps/portal/banistmo/personas" >Banistmo</a>
                            </li>
                            <li>
                                <a href="https://www.bancoagricola.com" >Banco Agr&iacutecola</a>
                            </li>
                            <li>
                                <a href="http://www.bam.com.gt" >BAM (Banco Agromercantil de Guatemala)</a>
                            </li>
                        </ul>
                    </div>
                    </div>
            </div>
        </div>
    </div>
</div>

<div class="row-fluid submenu hidden-xs">
    <div class="contenido">
        <div class="container-fluid">       
            <div class="row" id="productosYServiciosSufiNivel3">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-sm-12 titulo-submenu">
                            <h2>Créditos</h2>
                            <div class="row">
                                <div class="col-sm-4">
                                    <ul class="check-list">
                                        <li class="line-down">
                                            <a href="/sufi/creditos/movilidad/"
                                                style="background:url('/wcm/connect/f5c40d3c-9c48-47db-b23a-05d38c7f3140/movilidad.png?MOD=AJPERES')10px center no-repeat;padding: 18px 0px 18px 90px;">
                                                Movilidad
                                            </a>
                                        </li>
                                    </ul>
                                    <ul class="list-second">
                                        <li><a href="/sufi/creditos/movilidad/vehiculo/">Crédito para vehículos</a></li>
                                        <li><a href="/sufi/creditos/movilidad/moto/">Crédito para moto</a></li>
                                        <li><a href="/sufi/creditos/movilidad/bicicleta/">Crédito para bici</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-4">
                                    <ul class="check-list">
                                        <li class="line-down">
                                            <a href="/sufi/creditos/educacion/credito-educativo/"
                                                style="background:url('/wcm/connect/8541eafc-436b-4f2d-97a5-73e9597d8a44/educativo.png?MOD=AJPERES')10px center no-repeat;padding: 18px 0px 18px 70px;">
                                                Crédito Educativo
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-sm-4">
                                    <ul class="check-list">
                                        <li class="line-down">
                                            <a href="/sufi/creditos/rotativo/"
                                                style="background:url('/wcm/connect/bf4fe07b-cbb6-4811-9e0c-6ecda29ce3f2/rotativo.png?MOD=AJPERES')10px center no-repeat; padding: 18px 0px 18px 60px;">
                                                Crédito Rotativo
                                            </a>
                                        </li>
                                    </ul>
                                    <ul class="list-second">
                                        <li><a href="/sufi/creditos/rotativo/viajes/">Crédito para viaje</a></li>
                                        <li><a href="/sufi/creditos/rotativo/hogar/">Crédito para hogar</a></li>
                                        <li><a href="/sufi/creditos/rotativo/tecnologia/">Crédito para tecnología</a></li>
                                        <li><a href="/sufi/creditos/rotativo/salud/">Crédito para salud</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" id="segurosSufiNivel3">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-sm-12 titulo-submenu">
                            <h2>Productos</h2>
                            <div class="row">
                                <div class="col-sm-6">
                                    <ul class="check-list">
                                        <li class="line-down">
                                            <a href="/sufi/seguros/"
                                                style="background:url('/wcm/connect/57776404-91c2-4976-8849-771d902973fb/seguro.png?MOD=AJPERES')10px center no-repeat;padding: 18px 0px 18px 70px;">
                                                Seguros
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <ul class="check-list">
                                        <li class="line-down">
                                            <a href="https://www.suraenlinea.com/sufi/home" target="_blank"  style="background:url('/wcm/connect/e953f773-05f7-494b-ad27-0f4f943ba74a/soat.png?MOD=AJPERES')10px center no-repeat;padding: 18px 0px 18px 70px;">
                                                Compra tu SOAT
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" id="somosSufiSufiNivel3">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-sm-12 titulo-submenu">
                            <h2>Somos sufi</h2>
                            <div class="row">
                                <div class="col-sm-4">
                                    <ul class="check-list">
                                        <li>
                                            <a href="/sufi/servicios/solicitar-documentos/"
                                                style="background:url('/wcm/connect/b6562f8b-82e4-478d-b002-6e4290ff1623/documentos.png?MOD=AJPERES') 20% center no-repeat; padding: 18px 0px 18px 90px; text-align: center; width: 100%;">
                                                Solicitar documentos
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-sm-4">
                                    <ul class="check-list">
                                        <li>
                                            <a href="/sufi/servicios/sucursal-virtual/"
                                                style="background:url('/wcm/connect/0504b7ce-432c-4f68-abfc-188b3c241304/sucursal.png?MOD=AJPERES') 20% center no-repeat; padding: 18px 0px 18px 90px; text-align: center; width: 100%;">
                                                Sucursal Virtual Sufi
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-sm-4">
                                    <ul class="check-list">
                                        <li>
                                            <a href="/sufi/servicios/audio-sufi/"
                                                style="background:url('/wcm/connect/ae16131d-627d-4619-b0b8-c992195f68fa/audio.png?MOD=AJPERES') 20% center no-repeat; padding: 18px 0px 18px 90px; text-align: center; width: 100%;">
                                                Audio Sufi
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-sm-4">
                                    <ul class="check-list">
                                        <li>
                                            <a href="/sufi/servicios/canales-de-pago/"
                                                style="background:url('/wcm/connect/7a67df01-26a5-411f-b19d-2b25ca67c4e2/canales.png?MOD=AJPERES') 20% center no-repeat; padding: 18px 0px 18px 90px; text-align: center; width: 100%;">
                                                Canales de pago
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-sm-4">
                                    <ul class="check-list">
                                        <li>
                                            <a href="#" class="chat-ifrm"
                                                style="background:url('/wcm/connect/3baca9a7-29ef-48bd-9ef9-3432f84ec97a/chat.png?MOD=AJPERES') 20% center no-repeat; padding: 18px 0px 18px 90px; text-align: center; width: 100%;">
                                                Chatea con un asesor
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<header class="header-main bg-white">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-6 col-md-3">
                <figure class="logo-main">
                   <img src="https://sufi.grupobancolombia.com/wcm/connect/a1d276b5-eab7-4440-8a82-e25d721996c1/1/img.png?MOD=AJPERES" alt="">
                </figure>
            </div><!-- /col -->
            <div class="col-6 col-md-9">
                <div class="cont-header">
                    <nav class="nav-main" [ngClass]="{ 'is-active': isActive }" (click)="clickNavMain($event)" #navMain>
                        <ul class="menu-main">
                            <li>
                                <a href="#" class="color-muted"><span>Crédito</span></a>
                            </li>
                            <li>
                                <a href="#" class="color-muted"><span>Seguros</span></a>
                            </li>
                            <li>
                                <a href="#" class="color-muted"><span>Servicios</span></a>
                            </li>
                            <li>
                                <a href="#" class="color-muted"><span>Aprende con Sufi</span></a>
                            </li>

                            <li>
                                <a href="#" class="color-muted btn btn-red"><span>Aprende con Sufi</span></a>
                            </li>
                            
                        </ul>

                    </nav><!-- /nav -->
                    <div class="search-main">
                        <input type="text" placeholder="Buscar">
                        <button aria-label="Buscador principal">
                            <img src="assets/icons/lupa.svg" alt="" aria-hidden="true" />
                        </button>
                    </div>
                    <div class="mobile-buttons">
                        <button class="" aria-label="Buscador principal">
                            <img src="assets/icons/lupa.svg" alt="" aria-hidden="true" />
                        </button>
                        <button class="nav-bars" aria-label="Menú mobile" [ngClass]="{ 'is-active': isActive }" (click)="activeMenu ($event)">
                            <span aria-hidden="true"></span>
                        </button>
                    </div><!-- /mobile-buttons-->
                </div>
            </div><!-- /col- -->
        </div><!-- /row -->
    </div><!-- /container -->
</header>