@import 'src/assets/styles/config';

.sect-wait {
    padding-top: 60px;
    padding-bottom: 100px;
    background-image: url(/assets/images/sect-wait.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}
.head-section {
    img {
        display: inline-block;
        margin-bottom: 20px;
    }
    h2 {
        font-size: $size-24;
        color: inherit !important;
        margin-bottom: 30px;
    }
}

// ============= Responsive =============
@include mq-max ( large ) {
    .sect-wait {
        background-position-x: 10%;
    }
}
@include mq-max ( medium ) {
    .sect-wait {
        background-position-x: 15%;
        .container {
            padding-left: 0;
            padding-right: 0;
            max-width: 100%;
        }
    }
}
@include mq-min( medium ) {
    .head-section { 
        h2 {
            font-size: $size-35;
            color: inherit !important;
            margin-bottom: 50px;
        }
    }
}
@include mq-min ( large ) {
    .sect-wait {
        padding-top: 70px;
        padding-bottom: 80px;
    }
    .head-section { 
        h2 {
            margin-bottom: 30px;
            color: inherit !important;
        }
    }
}