<section class="sect-wait bg-white" (window:resize)="onResize($event)">
    <div class="container container--lg">
        <div class="head-section text-center">

            <img src="assets/icons/stop.png" alt="Icono de stop" />
            <h2 class="font-35 u-uppercase">¡Espera! tenemos más información, <br/>para tí</h2>
        </div>
        <div class="row" *ngIf="medium">
            <div class="col-md-4">
               <div class="item-wait" data-aos="fade-up">
                    <figure class="item-wait__fig">
                        <a href="#">
                            <img src="assets/images/girl-computer.jpg" alt="Mujer con computadora" class="item-wait__img">
                        </a>
                        <img src="assets/icons/money-white.png" alt="Icono de dinero" class="item-wait__icon">
                    </figure>
                    <div class="item-wait__desc bg-white">
                        <a href="#">¿Sabes cuánto vale, pero no tienes claro qué estudiar?</a>
                    </div>
                </div><!-- item-wait -->
            </div><!-- /col -->
            <div class="col-md-4">
                <div class="item-wait" data-aos="fade-up">
                    <figure class="item-wait__fig">
                        <a href="#">
                            <img src="assets/images/man-bag.jpg" alt="hombre con bolso" class="item-wait__img">
                        </a>
                        <img src="assets/icons/location.png" alt="Icono de dinero" class="item-wait__icon">
                    </figure>
                    <div class="item-wait__desc bg-white">
                        <a href="#">¿Sabes muy bien qué estudiar, pero no sabes dónde?</a>
                    </div>
                </div>
            </div><!-- /col -->
            <div class="col-md-4">
                <div class="item-wait" data-aos="fade-up">
                    <figure class="item-wait__fig">
                        <a href="#">
                            <img src="assets/images/friends.jpg" alt="grupo de amigos" class="item-wait__img">
                        </a>
                        <img src="assets/icons/group.png" alt="Icono de dinero" class="item-wait__icon">
                    </figure>
                    <div class="item-wait__desc bg-white">
                        <a href="#">¿Quisieras aprender antes de las experiencias de otras personas?</a>
                    </div>
                </div><!-- /item-await -->
            </div><!-- /col -->
        </div>
        <app-slider-wait *ngIf="!medium"></app-slider-wait>
    </div>
</section>
