@import 'src/assets/styles/config';

.sect-what-credit {
    position: relative;
    padding-top: 30px;
    padding-bottom: 70px;
    &:before {
        @include seudo_elm();
        width: 100%;
        height: 70%;
        top: 0;
        left: 0;
        z-index: -1;
        background-color: $light-gray;
    }
    .cont-head {
        margin-bottom: 25px;
    }
}

// =========== Responsive ===========
@include mq-min ( large) {
    .sect-what-credit {
        padding-top: 60px;
        padding-bottom: 90px;
        .cont-head {
            margin-bottom: 40px;
        }
        .items-credit {
            max-width: 900px;
            margin-left: auto;
            margin-right: auto;
        }
    }

}