<section class="sect-what-credit" (window:resize)="onResize($event)">
    <div class="container">
        <div class="cont-head">
            <h2 class="font-35 u-uppercase">¿De qué se trata este crédito?</h2>
            <p>Este crédito rotativo te permite cubrir hasta el 100 % del valor de tu matrícula en Colombia o el exterior. Además, puedes renovarlo para continuar con tu formación, es decir, cubre desde un solo periodo académico hasta la totalidad del programa formativo que elijas.</p>
        </div>
        <div class="items-credit items-credit--3" *ngIf="desktop">
            <div class="item-credit bg-white text-center" data-aos="fade-up">
                <figure class="item-credit__fig" aria-hidden="true">
                    <img src="assets/icons/calendar.png" alt="icono calendario">
                </figure>
                <h3 class="font-16 item-credit__title">¿En cuánto tiempo puedes pagarlo?</h3>
                <p class="font-14">Tu plazo de pago será de <br/>6 a 12 meses.</p>
            </div><!-- /item-credit -->
            <div class="item-credit bg-white text-center" data-aos="fade-up">
                <figure class="item-credit__fig" aria-hidden="true">
                    <img src="assets/icons/simulator.png" alt="icono simulador">
                </figure>
                <h3 class="font-16 item-credit__title">¿Cuál es la tasa de endeudamiento?</h3>
                <p class="font-14">2.1 % N.M.V. que equivale a <br/>19.56 % E.A*</p>
            </div><!-- /item-credit -->
            <div class="item-credit bg-white text-center" data-aos="fade-up">
                <figure aria-hidden="true" class="item-credit__fig">
                    <img src="assets/icons/money.png" alt="icono dinero">
                </figure>
                <h3 class="font-16 item-credit__title">¿Cuál es el tope para tu cupo?</h3>
                <p class="font-14">Podrás acceder a hasta 25 S.M.M.L.V (salarios mínimos mensuales legales vigentes).</p>
            </div><!-- /item-credit -->
        </div><!-- /items-credit -->
    </div>
    <div class="container container--swiper">
        <app-slider-what-credit *ngIf="!desktop"></app-slider-what-credit>
    </div>
</section>
