<section class="what-want" id="what-want" style="background-image: url(assets/images/bg-simulator-sect.jpg);"
    (window:resize)="onResize($event)">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-6 col-md-7">
                <h2 class="color-white u-uppercase what-want__title">Ahora que sabes cuánto vale tu crédito, ¿qué sigue?
                </h2>
                <div class="items-credit items-credit--3" *ngIf="xs_large">
                    <app-item-credit href="#" image="assets/icons/online-process.png" alt="Icono proceso"
                        textLink="Es el momento" data-aos="fade-up">Inicia en línea tu proceso de estudio
                    </app-item-credit>
                    <app-item-credit href="#" image="assets/icons/send-email.png" alt="icono de email"
                        textLink="Quiero recibirla" data-aos="fade-up" (click)="open(weSend)">Podemos enviarte esta
                        información a tu correo</app-item-credit>
                    <app-item-credit href="/dejanos-llamarte" image="assets/icons/contact-advisor.png" alt="Contactar asesor"
                        textLink="Sí, por favor" data-aos="fade-up">Un asesor puede contactarte</app-item-credit>
                </div><!-- /items-credit -->
                <app-slider-what-want *ngIf="!xs_large">
                    <div class="swiper-slide">
                        <app-item-credit href="#" image="assets/icons/online-process.png" alt="Icono proceso"
                            textLink="Es el momento" data-aos="fade-up">Inicia en línea tu proceso de estudio
                        </app-item-credit>
                    </div><!-- /slide -->
                    <div class="swiper-slide">
                        <app-item-credit href="#" image="assets/icons/send-email.png" alt="icono de email"
                            textLink="Quiero recibirla" data-aos="fade-up" (click)="open(weSend)">Podemos enviarte esta
                            información a tu correo</app-item-credit>
                    </div><!-- /Swiper-slide -->
                    <div class="swiper-slide">
                        <app-item-credit href="#" image="assets/icons/contact-advisor.png" alt="Contactar asesor"
                            textLink="Si, por favor" data-aos="fade-up" (click)="open(weCallYou)">Un asesor puede contactarte</app-item-credit>
                    </div><!-- /Swiper-slide -->
                </app-slider-what-want>
                <div class="info-legal">
                    <p class="text-center u-underline color-white"><a href="#" class="color-white"
                            (click)="showExpandible($event)">
                            Conoce aquí la información legal
                        </a></p>
                    <app-info-expandible class="app-expandible" [ngClass]="{ 'is-active': expandible }"
                        (expandible)="closeExpandible($event)"></app-info-expandible>
                </div>
            </div><!-- / col -->
        </div><!-- /row -->
    </div><!-- /container -->
</section>

<ng-template #weSend let-modal>
    <button type="button" class="modal-dialog__close" aria-label="Cerrar" (click)="modal.dismiss('Cross click')">
        <app-svg-close></app-svg-close>
    </button>
    <div class="modal-body modal-contact">
        <div class="img-modal">
            <img src="assets/images/bg-lightbox-email.png" alt="Laptop" />
        </div><!-- /col -->
        <div class="row justify-content-end">
            <div class="col-lg-7">
                <h2 class="text-uppercase modal-dialog__title">¿A qué correo te enviamos la información?</h2>
                <form action="">
                    <div class="form-group">
                        <label for="Nombre">Escribe aquí tu nombre</label>
                        <input type="text" class="form-control" />
                    </div><!-- /form-group -->
                    <div class="form-group">
                        <label for="Nombre">Escribe aquí tu correo</label>
                        <input type="email" class="form-control" />
                    </div><!-- /form-group -->
                    <div class="form-group form-group--checkbox">
                        <div class="input-checkbox" aria-label="checkbox">
                            <input type="checkbox" for="ptd" />
                            <span aria-hidden="true"></span>
                        </div>
                        <label for="ptd">
                            <a href="#" class="u-underline color-red">Acepto políticas de tratamiento de datos</a>
                        </label>
                    </div>
                    <div class="form-group form-group--submit">
                        <button class="u-btn u-btn--red">Enviame todo a este correo</button>
                    </div>
                </form>
            </div><!-- /col -->
        </div><!-- /row -->
        <div class="img-modal img-modal--mob">
            <img src="assets/images/bg-ligthbox-email-mob.jpg" alt="Mujer con celular" />
        </div><!-- /col -->
    </div><!-- /modal-body -->
</ng-template><!-- ngb-modal -->
<ng-template #weCallYou let-modal>
    <button type="button" class="modal-dialog__close" aria-label="Cerrar" (click)="modal.dismiss('Cross click')">
        <app-svg-close></app-svg-close>
    </button>
    <div class="modal-body modal-contact">
        <div class="img-modal">
            <img src="assets/images/bg-ligthbox-email-2.jpg" alt="Mujer con celular" />
        </div><!-- /col -->
        <div class="row justify-content-end">
            <div class="col-lg-7">
                <h2 class="text-uppercase modal-dialog__title">¿Te llamamos?</h2>
                <form action="">
                    <div class="form-group">
                        <label for="Nombre">Escribe tu celular o teléfono</label>
                        <input type="text" class="form-control" />
                    </div><!-- /form-group -->
                    <div class="form-group form-group--checkbox">
                        <div class="input-checkbox" aria-label="checkbox">
                            <input type="checkbox" for="ptd" />
                            <span aria-hidden="true"></span>
                        </div>
                        <label for="ptd">
                            <a href="#" class="u-underline color-red">Acepto políticas de tratamiento de datos</a>
                        </label>
                    </div>
                    <div class="form-group form-group--submit">
                        <button class="u-btn u-btn--red">Me pueden llamar a este número</button>
                    </div>
                </form>
            </div><!-- /col -->
        </div><!-- /row -->
        <div class="img-modal img-modal--mob">
            <img src="assets/images/bg-ligthbox-email-2.jpg" alt="Mujer con celular" />
        </div><!-- /col -->
    </div><!-- /modal-body -->
</ng-template><!-- ngb-modl -->