<a [attr.href]="textLink ? href : null" class="item-credit item-credit--round bg-white text-center" [ngClass]="{'underline': !textLink}" >
    <figure class="item-credit__fig" aria-hidden="true">
        <img [src]="image" [alt]="alt" />
    </figure>
    <p><ng-content></ng-content></p>
    <span class="u-btn u-btn--red" *ngIf="textLink">{{ textLink }}</span>
</a><!-- /item-credit -->

