<div class="swiper-container swiper-container--wait">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="item-wait" data-aos="fade-up">
                <figure class="item-wait__fig">
                    <a href="#">
                        <img src="assets/images/girl-computer.jpg" alt="Mujer con computadora" class="item-wait__img">
                    </a>
                    <img src="assets/icons/money-white.png" alt="Icono de dinero" class="item-wait__icon">
                </figure>
                <div class="item-wait__desc bg-white">
                    <a href="#">¿Sabes cuánto vale, pero no tienes claro qué estudiar?</a>
                </div>
            </div><!-- /col -->
        </div>
        <div class="swiper-slide">
            <div class="item-wait" data-aos="fade-up">
                <figure class="item-wait__fig">
                    <a href="#">
                        <img src="assets/images/man-bag.jpg" alt="hombre con bolso" class="item-wait__img">
                    </a>
                    <img src="assets/icons/location.png" alt="Icono de dinero" class="item-wait__icon">
                </figure>
                <div class="item-wait__desc bg-white">
                    <a href="#">¿Sabes muy bien qué estudiar, pero no sabes dónde?</a>
                </div>
            </div><!-- /col -->
        </div>
        <div class="swiper-slide">
            <div class="item-wait" data-aos="fade-up">
                <figure class="item-wait__fig">
                    <a href="#">
                        <img src="assets/images/friends.jpg" alt="grupo de amigos" class="item-wait__img">
                    </a>
                    <img src="assets/icons/group.png" alt="Icono de dinero" class="item-wait__icon">
                </figure>
                <div class="item-wait__desc bg-white">
                    <a href="#">¿Quisieras aprender antes de las experiencias de otras personas?</a>
                </div>
            </div><!-- /col -->
        </div>
    </div><!-- /swiper-wrapper -->
    <div class="swiper-pagination swiper-pagination--wait"></div>
</div>