// ============= Menu mobile =============
@keyframes fadeIn {
    to {
        opacity: 1;
    }    
}
@keyframes fadeX {
    to {
        transform: translateX(0);
    }    
}
// ============= show expandible =============
@keyframes infoExpandible {
    to {
        opacity: 1;
        top: 50px;
    }
}
