// ============= components =============
.container {
    @include mq-min-max ( medium, large ) {
        max-width: 100%;
    }
    @include mq-min ( medium ) {
        &--sm {
            max-width: 660px;
        }
    }
    @include mq-min ( large ) {
        &--sm {
            max-width: 790px;
        }
    }
    @include mq-min ( xs-large ) {
        &--lg {
            max-width: 960px
        }
    }
}

// Strip title
.strip-title {
    position: relative;
    padding: 8px 20px;
    display: inline;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 1.5px;
    line-height: 1.6;
    white-space: pre-wrap;
    color: white;
    font-family: $montserrat-medium;
    font-weight: 500;

    &--md {
        font-size: $size-24;
    }

    // =========== Responisve ===========
    @include mq-max( medium ) {
        &.bannera-main__title {
            font-size: 20px;
        }
    }
}
.break{
    app-strip-title-h2{
        position: relative;
        .strip-title{
            position: initial;
            padding: 8px 0px;
           /*  &::before{
                border: 3px solid #fa0a3c;
                content: "";
                position: absolute;
                top: -1px;
                bottom: -1px;
                left: -6px;
            }
            &::after{

            } */
        }
    }
}

// list-links
.list-links {
    list-style-image: url(/Bancolombia_Personas_Info/themes/Bancolombia_Personas/css/styles/images/lists/bullets/check.png);
    padding-left: 24px;
    li {
        margin-bottom: 8px;
    }
    a{
        font-size: $size-14;
        color: $default;
        text-decoration: underline;
    }
}
// list-networks
.list-networks {
    min-height: 28px;
    li {
        float: left;
        height: 27px;
        width: 28px;
        margin-right: 14px;
        margin-bottom: 8px;
    }
    a{
        background: url(src/assets/images/sprite-social-networks.png) no-repeat;
        display: block;
        height: 100%;
        text-indent: -9999px;
        width: 28px;
        font-size: $size-14;
        color: $default;
        text-decoration: underline;
    }
    .twitter a {
        background-position: -42px 0;
    }
    .linkedin a {
        background-position: -86px 0;
    }
    .instagram a {
        background-position: -129px 0;
    }
    .youtube a {
        background-position: -169px 0;
        width: 52px;
    }
}

//list-circle
.list-circle {
    li {
        position: relative;
        padding-left: 1rem;
        margin-bottom: 12px;
        &:before {
            content: "";
            position: absolute;
            width: .3rem;
            height: .3rem;
            top: .6em;
            left: 0;
            background-color: $red;
            border-radius: 100%;
        }
    }
}

// items-credits
.items-credit {
    @include flex_wrap();
    justify-content: space-between;
    align-items: stretch;
    &--3 {
        app-item-credit {
            width: 33.3333%;
        }
        > .item-credit {
            width: calc(33.3333% - 10px);
            height: auto;
        }
    }

    // Responsive
    @include mq-min ( large ) {
        &--3 {
            > .item-credit {
                width: calc(33.3333% - 20px);
            }
        }
    }
}
.item-credit {
    display: flex;
    flex-direction: column;
    padding: 30px 35px;
    height: 100%;
    box-shadow: $shadow-one;
    margin-left: 5px;
    margin-right: 5px;
    transition: background-color .3s linear;
    border-radius: 10px;
    a {
        display: block;
    }
    &__fig {
        margin-bottom: 20px;
    }
    p {
        flex-grow: 1;
        color: $default;
    }

    &.is-action a {
        pointer-events: none;
    }
    // &--round {
    //     border-radius: 12px;
    // }

    // Responisve
    @include mq-min ( medium ) {
        padding: 30px 15px;
    }
    @include mq-min ( large ) {
        padding: 30px 25px;
        margin-left: 10px;
        margin-right: 10px;
    }
}

//Item-wait
.item-wait {
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.1);
    transition: box-shadow .3s linear;
    &__fig {
        position: relative;
        flex-shrink: 0;
        margin-bottom: 0;
    }
    &__img {
        display: block;
        width: 100%;
    }
    &__icon {
        position: absolute;
        left: 15px;
        bottom: 8px;
        pointer-events: none;
        transition: transform .2s linear;
    }
    &__desc {
        flex-grow: 1;
        a {
            display: block;
            padding: 20px 20px 25px 20px;
            color: $default;
        }
    }
    &:before {
        @include seudo_elm();
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: -1;
        box-shadow: 0 30px 30px 0 rgba(0, 0, 0, 0.1);
        transition: opacity .2s linear;
    }

    &:hover {
        &:before {
            opacity: .4;
        }
        .item-wait__icon {
            transform: scale(1.03);
        }
    }

    // Responisve
    @include mq-max( medium ) {
        &__icon {
            bottom: 15px;
        }
        &__desc {
            a {
                padding: 22px 30px;
            }
        }
    } 
}

// item-value
.item-value {
    position: relative;
    margin-bottom: 35px;

    app-question-button {
        position: absolute;
        bottom: 8px;
        right: 70px;
        width: 30%;
    }

    &:last-of-type {
        margin-bottom: 0;
    }

    // Responsive
    @include mq-max( medium) {
            app-question-button {
                right: 60px;
                &.item-value__question--odd {
                    width: 32%;
                    right: 0;
                }
            }
    }
}

// swiper
.swiper-container {
    //Responisve
    @include mq-max ( medium) {
        width: 100%;
        padding:0 15px 50px 15px;
        .swiper-what-want & {
            padding: 0 0 30px 0;
        }
        .swiper-pagination-bullet {
            opacity: 1;
            width: 22px;
            height: 22px;
            border-radius: 50%;
            background-color: #dbdbd9;
            &-active {
                background-color: $red;
            }
        }
    }
}
.swiper-container-horizontal>.swiper-pagination-bullets {
    bottom: 0;
}
.container--swiper {
    @include mq-max( small ) {
        padding-left: 0;
        padding-right: 0;
    }
}

// Swiper what want
.swiper-what-want {
    @include mq-max ( xs-large ) {
        .swiper-slide {
            padding-left: 45px;
            padding-right: 45px;
        }
    }
    @include mq-max ( medium ) {
        .swiper-slide{
            padding-left: 30px;
            padding-right: 30px;
        }
    }
}

//art-info
.art-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding: 30px;
    height: 100%;
    &, .u-bg-image {
        border-radius: $radius-one;
    }
    &__title {
        margin-bottom: 15px;
        font-size: $size-30;
    }
    &__cont {
        position: relative;
    }
    &__fig {
        &--tablet {
            display: none;
        }
    }
    &--img {
        &:before {
            @include seudo_elm();
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            border-radius: $radius-one;
            background-color: rgba($default, .7);
        }
    }

    // Responisve
    @include mq-max( medium ) { 
        text-align: center;
    }
    @include mq-min( medium ) {
        &__fig {
            &--mob {
                display: none;
            }
            &--tablet {
                display: block;
                position: absolute;
                top: 0;
            }
        }
        &--right {
            .art-info__fig--tablet {
                position: absolute;
                top: 5px;
                right: 0;
                width: 100px;
            }
        }
    }
    @include mq-min( large ) {
        margin-bottom: 30px;
        &__title {
            font-size: $size-35;
            text-transform: uppercase !important;
        }
    }
    @include mq-min( xs-large ) { 
        padding: 50px 35px 30px 35px;
        &__fig {
            position: absolute;
        }
        &--left {
            padding-left: 150px;
            .art-info__fig {
                top: 60px;
                left: 1px;
                img{
                    max-width: 126px;
                }
            }
        }
        &--right {
            padding-right: 200px;
            .art-info__fig {
                width: 200px;
                top: 30px;
                right: 0;
            }
        }
        &--img {
            padding-right: 50px;
        }
    }
}

// .info-expandable
.info-expandable {

    &__tabs {
        @include flex_wrap();
    }
    .tabs__item{
        display: block;
        position: relative;
        width: 100%;
        padding: 8px 0;
        color: white;
        text-align: left;
        font-family: $montserrat-bold;
        font-weight: 700;
        border-bottom: 1px solid white;
        font-size: 1rem;

        span {
            padding: 8px 0;
            padding-inline-start: 0px;
            padding-inline-end: 8px;
            transition: background-color .3s linear;

            
        }
        &.is-active {
            span {
                background-color: $red;
                box-decoration-break: clone;
                &::before{
                    border: 3px solid #fa0a3c;
                    content: "";
                    position: absolute;
                    top: 3.6px;
                    bottom: 4px;
                    left: -6px;
                    transition: border .3s linear;
                }
            }
        }
    }

    .tabs__items, &__conts {
        position: relative;
        padding: 80px 40px;
    }
    .tabs__items {        
        background-color: $default;
        &:before {
            @include seudo_elm();
            width: 0;
            height: 0;
            top: -20px;
            right: 15px;
            border-width: 0 20px 20px 20px;
            border-style: solid;
            border-color: transparent transparent $default transparent;    
        }
    }

    .accordion {
        &__cont {
            padding: 25px;
            background-color: #6e6e6e;
            &.is-active {
                display: block;
            }
        }
        &__item:last-of-type {
            .info-expandable__tab {
                border-color: transparent;
            }
        }
        &__tab {
            display: block;
            width: 100%;
            text-align: left;
            color: white;
            padding: 6px 0;
            font-family: $montserrat-bold;
            font-weight: 700;
            border-bottom: 1px solid white;
            
            span {
                transition: background-color .3s linear;
                padding: 6px 10px 6px 5px;
                padding-inline-start: 8px;
                padding-inline-end: 8px;
            }
            &.is-active {
                span {
                    background-color: $red;
                }
            }
        }
    }

    // Responsive
    @include mq-max ( medium ) {
        .accordion {
            &__tab {
                padding-top: 12px;
                padding-bottom: 12px;
                &.is-active {
                    border-bottom: 1px solid transparent;
                }
            }
        }
    }
    @include mq-min( medium ) {
        .tabs__items {
            width: 33.3333%;
            padding: 80px 20px;
        }
        &__conts {
            width: 66.6666%;
            padding: 80px 30px;
        }
    }
    @include mq-min ( large ) {
        .tabs__items {
            padding: 80px 30px;
        }
    }
}

// Card info
.card-info {
    position: relative;
    padding: 30px 30px 50px 30px;
    margin-top: 30px;
    margin-bottom: 50px;
    box-shadow: $shadow-one;
    &__title {
        position: relative;
        font-size: $size-24;
        text-transform: uppercase;
        margin-top: -50px;
        //transform: translateY(-52%);
    }
    app-question-button {
        position: absolute;
        width: calc(100% - 60px);
        bottom: 0;
        transform: translateY(50%);
    }
    .card-info__icon {
        margin-top: -20%;
        margin-bottom: 30px;
    }

    @include mq-min ( medium ) {
        &__title {
            font-size: $size-35;
        }
    }
}

// input-value
.input-value {
    position: relative;
    margin-bottom: 8px;
    border-bottom: 1px solid $default;
    label, input {
        display: block;
    }
    input {
        font-size: $size-16;
        border: none;
        font-family: $montserrat-bold;
        font-weight: 700;
        line-height: 1;
        padding-bottom: 5px;
        background-color: transparent;
    }
    label {
        font-size: $size-14;
        margin-bottom: 0;
    }
    &--large {
        label {
            margin-bottom: 1rem;
        }
        input {
            font-size: $size-30;
            font-family: $montserrat-light;
            font-weight: 300;
        }
    }
}

// Modal
.modal-dialog {
    &__title {
        font-size: $size-35;
        margin-bottom: 15px;
    }
    &__close {
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 10;
    }
    // Responsive
    @include mq-max( medium ) {
        &__title {
            font-size: $size-24;
        }
    }
    @include mq-min( medium) {
        max-width: 700px;
    }
    @include mq-min( large ) {
        max-width: 900px;
        &__close {
            top: 5px;
            right: 5px;
        }
    }
}
.modal-contact {
    position: relative;
    padding: 40px 90px;
    .img-modal {
        position: absolute;
        top: 0;
        left: 0;
        width: 30%;
        height: 100%;
    }
    input:not([type="checkbox"]) {
        height: auto;
        padding: 10px 20px;
    }

    // Responsive
    @include mq-max( large ) {
        padding: 40px 80px 0 80px;
        .img-modal {
            display: none;
            &--mob {
                display: block;
                position: relative;
                width: 100%;
                height: auto;
                margin: 20px auto 0 auto;
                img {
                    width: 100%;
                    height:auto;
                }
            }
        }
    }
    @include mq-max( medium ) { 
        padding: 40px 35px 0 35px;
    }
    @include mq-min( large ) {
        .img-modal {
            &--mob {
                display: none;
            }
        }
    }
}
.modal-info {
    padding: 70px 20px 60px;
    ngx-simplebar {
        padding-right: 30px;
        max-height: 300px;
    }
    // Responsive 
    @include mq-min ( medium ) {
        padding: 60px 40px 90px;
    }
    @include mq-min ( large ) {
        padding: 60px 60px 100px;
    }
}
.img-modal {
    img {
        max-width: none;
        height: 100%;
    }
}

// Tables-actions
.table-actions {
    @include flex_wrap();
    width: 100%;
    margin-bottom: 30px;
    &__item {
        @include flex_wrap();
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
        &:first-of-type {
            p {
                width: 65%;
                margin-bottom: 0;
            }
            .select-custom {
                margin-bottom: 0;
            }
        }
    }
    .table-actions__radios {
        width: 100%;
    }

    // Responsive
    @include mq-max ( medium ) {
        &__item {
            border-bottom: 1px solid rgba($default, .3);
        }
    }
    @include mq-min ( medium ) {
        margin-top: 20px;
        &__item {
            width: 50%;
            border-bottom: 1px solid rgba($default, .3);
            &:first-of-type{
                padding-right: 30px;
                border-right: 1px solid rgba($default, .3);
            }
            &:last-of-type {
                padding-left: 30px;
            }
        }
    }
}
.table-content {
    table {
        width: 100%;
    }
    th, td {
        padding-top: 12px;
        padding-bottom: 12px;
        font-size: $size-14;
    }
    th {
        button {
            width: 35px;
        }
        &:last-child {
            padding-right: 30px;
        }
    }
    th:last-child, td:last-child {
        text-align: right;
    }
    tbody {
        tr {
            border-bottom: 1px solid rgba($default, .2);
        }
    }
}

//bgs-banner
.bgs-banner {
    position: absolute;
    width: 45%;
    height: 100%;
    top:0;
    right: 0;
    div {
        width: 100%;
        height: 100%;
        @include bg_image(cover, center);
    }
    &__lg, &__md {
        display: none;
    }
    
    // Responsive
    @include mq-min-max (medium,large) {
        &__md {
            display: block;
        }
    }
    @include mq-max( medium ) {
        display: none;
        div {
            background-image: none!important;
        }
    }
    @include mq-min( medium ) {
        div {
            @include bg_image(center center, 25% center);
        }
    }
    @include mq-min( large ) {
        div {
            @include bg_image(cover, 25% center);
        }
        &__lg {
            display: block;
        }
    }
}