// ============== Fonts ===============
/* @font-face {
    font-family: 'montserrat-bold';
    src: url(/wcm/connect/ff87cf73-278e-4bb4-82fb-765daf83985f/montserrat-bold.woff?MOD=AJPERES), url(/wcm/connect/6d62faae-d03c-4d73-b944-c5568fc50bf5/montserrat-bold.otf?MOD=AJPERES);
    font-weight: bold;
}
@font-face {
    font-family: 'montserrat-medium';
    src: url(/wcm/connect/65c22561-9962-4034-8cee-f2b246020eba/montserrat-medium.otf?MOD=AJPERES), url(/wcm/connect/82efe714-3222-418b-95e6-6e0f17f8500d/montserrat-medium.woff?MOD=AJPERES);
}
@font-face {
    font-family: 'montserrat-regular';
    src: url(/wcm/connect/ccbfb370-35db-47dc-88f1-ab0097a1eeb2/montserrat-regular.otf?MOD=AJPERES), url(/wcm/connect/0d98373c-b9ad-4007-8f5a-3f893ccc1656/montserrat-regular.woff?MOD=AJPERES);
    font-weight: normal;
}
@font-face {
    font-family: 'montserrat-light';
    src: url(/wcm/connect/e314bdba-e776-4f59-939a-0e90fcfb80e9/montserrat-light.otf?MOD=AJPERES), url(/wcm/connect/daaa79a7-e9d4-419a-9284-494bbc9f3fd7/montserrat-light.woff?MOD=AJPERES);
    font-weight: normal;
}  */

// ============== Fonts ===============
@font-face {
    font-family: 'montserrat-bold';
    src: url(/assets/fonts/montserrat/montserrat-bold.woff), url(/assets/fonts/montserrat/montserrat-bold.otf);
    font-weight: bold;
}
@font-face {
    font-family: 'montserrat-medium';
    src: url(/assets/fonts/montserrat/montserrat-medium.woff), url(/assets/fonts/montserrat/montserrat-medium.otf);
}
@font-face {
    font-family: 'montserrat-regular';
    src: url(/assets/fonts/montserrat/montserrat-regular.woff), url(/assets/fonts/montserrat/montserrat-regular.otf);
    font-weight: normal;
}
@font-face {
    font-family: 'montserrat-light';
    src: url(/assets/fonts/montserrat/montserrat-light.woff), url(/assets/fonts/montserrat/montserrat-light.otf);
    font-weight: normal;
}


$montserrat-bold: 'montserrat-bold', sans-serif;
$montserrat-medium: 'montserrat-medium', sans-serif;
$montserrat-regular: 'montserrat-regular', sans-serif;
$montserrat-light: 'montserrat-light', sans-serif;

// ============== Variables ===============
$red: #fa0a3c;
$yellow: #faf073;
$dark: #808080;
$default: #434040;
$medium_gray: #dbdbd9;
$light_gray: #f6f6f6;
$light: #f1f1f1;
$white: white;

// Sizes
$size-14: 0.875rem;
$size-15: 0.938rem;
$size-16: 1rem;
$size-18: 1.125rem;
$size-20: 1.25rem;
$size-24: 1.5rem;
$size-30: 1.875rem;
$size-35: 2.188rem;
$size-40: 2.5em;

// Utils
$shadow-one: 0 20px 40px 0 rgba(black, 0.16);
$shadow-two: 0 20px 30px 0 rgba($default, 0.1);
$radius-one: 10px;

//BreakPoints
$breakpoints-min : (
    xs-small: 481px,
    small: 576px,
    medium: 768px,
    large: 992px,
    xs-large: 1200px
);
$breakpoints-max : (
    xs-small: 480px,
    small: 575px,
    medium: 767px,
    large: 991px,
    xs-large: 1199px
);

// ============== Mixins ===============
@mixin seudo_elm ($cont: "", $pos: absolute) {
    content: $cont;
    position: absolute;
}
@mixin flex_wrap () {
    display: flex;
    flex-wrap: wrap;
}
@mixin bg_image($size:100%, $pos: center center){
    background-position: $pos;
    background-repeat: no-repeat;
    background-size: $size;
}
@mixin animation_forwards ($nameAnim, $time:.3s,$easing:linear) {
    animation: $nameAnim $time $easing forwards;
}
@mixin placeholder_style ($elm:input, $color:$default) {
    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $color;
        opacity: 1; /* Firefox */
    }

    :-ms-#{$elm}-placeholder { /* Internet Explorer 10-11 */
        color: $color;
    }

    ::-ms-#{$elm}placeholder { /* Microsoft Edge */
        color: $color;
    }
}

//------- Mixins Responsive -------
//Min
@mixin mq-min($mq-breakpoint, $mq-breakpoints: $breakpoints-min) {
    // If $mq-breakpoint is a key that exists in
    // $mq-breakpoints, get and use the value
    @if map-has-key($mq-breakpoints, $mq-breakpoint) {
      $mq-breakpoint: map-get($mq-breakpoints, $mq-breakpoint);
    }

    @media (min-width: #{$mq-breakpoint}) {
      @content;
    }
}
//Max
@mixin mq-max($mq-breakpoint, $mq-breakpoints: $breakpoints-max) {
    // If $mq-breakpoint is a key that exists in
    // $mq-breakpoints, get and use the value
    @if map-has-key($mq-breakpoints, $mq-breakpoint) {
      $mq-breakpoint: map-get($mq-breakpoints, $mq-breakpoint);
    }

    @media (max-width: #{$mq-breakpoint}) {
      @content;
    }
}

//Min-Max
@mixin mq-min-max($min-breakpoint, $max-breakpoint) {
    $min-breakpoint-value: map-get($breakpoints-min, $min-breakpoint);
    $max-breakpoint-value: map-get($breakpoints-max, $max-breakpoint);
    @media screen and (min-width: #{$min-breakpoint-value}) and (max-width: #{$max-breakpoint-value}) { @content; }
  }