// ============= Tags =============
html {
    font-style: 16px;
    overflow-x: hidden;
    font-size: initial !important;
}
body {
    color: $default;
    font-family: $montserrat-medium;
    font-weight: 500;
   /*  font-size: initial; */
}
h1, h2, h3, h4, h5, h6 {
    font-family: $montserrat-bold;
    font-weight: 700;
    
    font-size: inherit;
}
ul, ol {
    padding: 0;
    margin: 0;
    list-style: none;
}
p {
    line-height: 1.4;
}
button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    &:focus {
        outline: transparent;
    }
}
a {
    &:hover {
        color: inherit;
        text-decoration: none;
    }
}
img {
    display: inline-block;
    max-width: 100%;
}
input {
    &[type="text"] {
        width: 100%;
    }
    &:focus {
        outline: transparent;
    }
}
p, a, li, button, label, input{
    font-size: $size-15;
}
span {
    font-size: inherit;
}
// ============= Fonts =============
.font {
    &-14 {
        font-size: $size-14;
    }
    &-16 {
        font-size: $size-16;
    }
    &-18 {
        font-size: $size-18;
    }
    &-24 {
        font-size: $size-24;
    }
    &-35 {
        font-size: $size-35;
    }
}

// ============= Colors =============
.color {
    &-red {
        color: $red;
    }
    &-yellow {
        color: $yellow;
    }
    &-black {
        color: default;
    }
    &-white {
        color: white;
    }
    &-light-gray{
        color: #9f9f9f;
    }
}
.bg {
    &-red {
        background-color: $red;
    }
    &-yellow {
        background-color: $red;
    }
    &-medium-gray {
        background-color: $medium_gray;
    }
    &-light-gray {
        background-color: $light;
    }
}

// ============= Buttons =============
.u-btn {
    display: inline-block;
    padding: 10px 46px;
    min-width: 150px;
    text-align: center;
    border-radius: 30px;
    border: 1px solid transparent;
    font-weight: bold;
    transition: .3s linear;
    font-family: $montserrat-bold;
    &--red {
        background-color: $red;
        color: white;
        &:hover {
            border-color: $red;
            background-color: white;
            color: $red;
        }
    }
    &--outline-red {
        border: 1px solid $red;
        color: $red;
        &:hover {
            background-color: $red;
            color: white;
        }
    }
}

// ============= Text =============
.u-bold {
    font-family: $montserrat-bold;
    font-weight: 700;
}
.u-regular {
    font-family: $montserrat-regular;
    font-weight: 400;
}
.u-light {
    font-family: $montserrat-light;
    font-weight: 300;
}
.u-uppercase {
    text-transform: uppercase;
}
.u-underline {
    text-decoration: underline;
}

// ============= Margin & padding =============
.mg-btm-20 {
    margin-bottom: 20px;
}
.mg-btm-30 {
    margin-bottom: 30px;
}
.mg-btm-40 {
    margin-bottom: 40px;
}
.mg-btm-50 {
    margin-bottom: 50px;
}

// ============= utils =============
.subtitle {
    font-size: $size-24;
    @include mq-min ( medium ) {
        font-size: $size-35;
    }
}
.u-bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
}
.select-custom {
    display: inline-block;
    position: relative;
    select {
        padding: 10px 40px 10px 10px;
        height: auto;
    }
    &:after {
        @include seudo_elm();
        width: 18px;
        height: 18px;
        top: 0;
        right: 12px;
        bottom: 0;
        margin: auto;
        background-image: url(src/assets/icons/down-arrow.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        pointer-events: none;
    }
    select {
        appearance: none;
    }
}
.link-icon-left {
    display: inline-block;
    position: relative;
    padding-left: 60px;
    img, svg {
        width: 50px;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }
}
.form-group {
    position: relative;
    label {
        display: block;
    }
    input {
        border-radius: $radius-one;
    }
    &--checkbox {
        padding-left: 30px;
        .input-checkbox {
            top: .2em;
            left: 0;
            position: absolute;
        }
    }
    &--radios {
        display: inline-block;
    }
    &--radio {
        position: relative;
        display: inline-block;
        padding-left: 25px;
        margin-right: 1.2rem;
        label {
            margin-bottom: 0;
            cursor: pointer;
        }
        input, span {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }
        input {
            z-index: 1;
            opacity: 0;
        }
        input:checked ~ span {
            border-color: $red;
            &:before {
                opacity: 1;
                transform: translate(-50%,-50%) scale(1);
            }
        }
        span {
            display: block;
            width: 16px;
            height: 16px;
            border: 2px solid #979797;
            transition: border-color .3s linear;
            &, &:before {
                border-radius: 50%;
            }
            &:before {
                @include seudo_elm();
                width: 8px;
                height: 8px;
                top: 50%;
                left: 50%;
                background-color: $red;
                opacity: 0;;
                transform: translate(-50%,-50%) scale(0);
                transition: .3s linear;
            }
        }
    }
    &--submit {
        .u-btn {
            padding: 15px 25px;
        }
    }
}
.input-checkbox {
    width: 20px;
    height: 20px;
    overflow: hidden;
    border: 1px solid rgba($default, .6);
    border-radius: 2px;
    input {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 1;
        transform: translate(-50%, -50%);
    }
    span {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        transition: background-color .3s linear;
    }
    input:checked + span {
        background-color: $red;
        background-image: url(assets/icons/check-white.png);
        background-position: center;
        background-size: 70%;
        background-repeat: no-repeat;
    }
}

.link-triangle {
    position: relative;
    display: inline-block;
    padding-right: 25px;
    svg, img {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }
}

.img-banner-mob {
    display: none;
    margin-top: 50px;
    img {
        display: block;
        width: 100%;
    }
}
// Component-

.simplebar-scrollbar.simplebar-visible:before {
    background: $red;
    opacity: 1!important;
}

/* .row {
    display: inherit !important;
} */
/* 
.navbar{
    display: inherit !important;
}

.navbar-nav{
    flex-direction: inherit !important;
}

.navbar-brand {
    padding-top: 20% !important;
}

.breadcrumb {
    padding: inherit !important;
    background-color: inherit !important;
}

h2.art-info__title{
    color: inherit !important;
}

.navegacion.rojo .top-nav .top-ribbon {
    background-color: #e7e9eb;
    box-shadow: none;
    border-bottom: 2px solid #dcdcdc;
}


.navegacion .top-nav .top-ribbon {
    overflow: hidden;
    font-size: 14px;
    z-index: 1006;
    position: relative;
    height: 40px;
    background-color: #545454;
    -moz-box-shadow: inset 0 -40px 40px -42px #000000;
    -webkit-box-shadow: inset 0 -40px 40px -42px #000000;
    box-shadow: inset 0 -40px 40px -42px #000000;
} */