// what-want
.what-want {
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
    background-repeat: no-repeat;
    background-position: 65% center;
    background-size: cover;
    z-index: 10;

    &__title {
        margin-bottom: 30px;
        font-size: $size-20;
        text-align: center;
        span {
            font-size: inherit;
        }
    }
    .items-credit--3 {
        margin-bottom: 40px;
    }
    .item-credit {
        &__fig {
            height: 80px;   
            img {
                max-width: auto;
                height: 100%;
            }
        }
       &:hover {
            background-color: $red!important;
            p {
                color: white;
            }
            .u-btn--red {
                background-color: white;
                color: $red;
            }
            &.underline{
                text-decoration-color: white;
            }
        }
        &.underline{
            text-decoration: underline;
            text-decoration-color: #313131;
        }
    }
    .info-legal {
        position: relative;
    }
    app-info-expandible {
        position: absolute;
        display: none;
        top: 100px;
        left: 0;
        opacity: 0;
    
        &.is-active {
            display: block;
            @include animation_forwards(infoExpandible, .3s, linear);
        }
    }

    // ===== Responsive =====
    @include mq-min( medium ) {
        &__title {
            font-size: $size-24;
        }
        app-slider-what-want {
            display: block;
            margin-bottom: 30px;
        }
    }
    @include mq-min ( large ) {
        //What-want
        .what-want {
            padding-top: 70px;
        }
    }
}

// Sect simulator
.sect-simulator, .section-simulator {
    position: relative;
    margin-bottom: 60px;
    .select-custom, .input-value--large {
        margin-bottom: 1rem;
    }
    .select-custom {
        select {
            background-color: transparent;
        }
    }

    // Responsive
    @include mq-max( medium ) {
        .img-banner-mob {
            display: block;
        }
    }
}

