<section class="sect-achieve">
    <div class="container">
        <div class="cont-head">
            <h2 class="font-35 u-uppercase">¿Qué quieres lograr?</h2>
            <p class="font-24">Éste crédito educativo es para ti si...</p>
        </div>
        <div class="row">
            <div class="col-md-7 order-md-1">
                <ul class="list-circle">
                    <li>Necesitas cubrir tu matrícula de pregrado universitario.</li>
                    <li>Buscas formación técnica y tecnológica.</li>
                    <li>Deseas estudiar un curso de formación complementaria.</li>
                    <li>Quieres ser bilingüe, o por qué no, multilingüe.</li>
                    <li>Piensas hacer la maestría que anhelas.</li>
                    <li>Vas por tu título de doctorado.</li>
                    <li>No tienes mucha experiencia crediticia.</li>
                </ul><!-- /list-circle -->
            </div>
            <div class="col-md-5 col-img text-center order-md-0" aria-hidden="true">
                <img src="assets/images/img-ilustra.png" alt="Imagen ilustrativa">
            </div><!-- /col -->
        </div><!-- /row -->

    </div><!-- /container -->

</section>