@import 'src/assets/styles/config';

.sect-achieve {
    padding-bottom: 60px;
    box-shadow: 0 20px 40px 0 rgba(black, 0.16);
    .cont-head {
        margin-bottom: 50px;
    }
}

// Responisve 
@include mq-max( medium ) {
    .col-img {
        margin-top: 60px;
    }
}